include ../../../_mixins

- var pageLink = "{{\\App\\Helpers\\Url::getPageUrl($row->link_value,\\App::getLocale())}}";
- var url = "{{$row->link_value}}";
- var target = '@if($row->link_new_window == 1) _blank @endif';
- var link = "@if($row->link_type=='page')"+ pageLink +"@else"+ url +"@endif";

+if("$row && $show")
	div(style="display:none;", class="hiddenPopup", data-type!="@php echo ($row->content_type == 'youtube') ? 'iframe' : 'inline'; @endphp")
		
	#popup.popup.mfp-hide
		+if("$row->content_type == 'image'")
			+if('$row->link_type!=""')
				a(href!=link, target!=target)
					img(src!="/img/popup/image_thumbnail.{{$row->language[0]->content}}")
				+else
					img(src!="/img/popup/image_thumbnail.{{$row->language[0]->content}}")
			+else
				.popup-white {!!$row->language[0]->content!!}