@import "../mixins";
@import "../config";
@import "../components/svgicons";

body {
	font-family: $fontFamily;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	* {
		box-sizing: border-box;
		outline: 0;
	}
	@media screen and (max-width: $medium){
		padding-top: 67px;
	}
}
ul{
	margin: 0;
	padding: 0;
}

.button{
	height:get-vw(50px);
	border-radius: get-vw(5px);
	background: #00aeff;
	position: relative;
	padding-left:get-vw(30px);
	padding-right:get-vw(24px);
	color: #fff;
	text-transform: uppercase;
	font-size: get-vw(14px);
	text-decoration: none;
	font-weight: 700;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	border:none;
	cursor: pointer;
	&:before{
		content:"";
		position: absolute;
		right: 0;
		top: 0;
		background: #004490;
		width: 100%;
		height: 100%;
		transition: transform 0.4s ease-in-out;
		transform: translateX(-105%);
		will-change: transform;
	}
	&:hover{
		&:before{
			transform: translateX(0);
		}
	}
	span{
		display: inline-flex;
		align-items: center;
		position: relative;
		@include icon(arrow-pointing-to-right, after);
		&:after {
			margin-left: get-vw(20px);
			font-size: get-vw(14px);
			font-weight: 400;
		}
	}
	
	&--noicon{
		padding-left: get-vw(15px);
		padding-right: get-vw(15px);
		span{
			&:after{
				display: none;
			}
		}
	}
	&--smaller{
		height: get-vw(40px);
	}

	@media screen and (max-width: $medium){
		height: 40px;
		border-radius: 5px;
		padding-left: 20px;
		padding-right: 15px;
		font-size: 13px;
		
		span {
			&:after {
				margin-left: 15px;
				font-size: 13px;
			}
		}

		&--noicon {
			padding-left: 12px;
			padding-right: 12px;
		}
		&--smaller {
			height: 34px;
		}
	}
}

.hidden{
	display: none;
}

.header{
	background: $cBlue;
	&__inner{
		width:get-vw(1600px);
		margin: 0 auto;
		padding: 0 get-vw(40px);
		display: flex;
		justify-content: space-between;
		height: get-vw(200px);
		align-items: center;
		padding-bottom:get-vw(60px);
	}
	&__left{
		
	}
	&__center{
		flex-shrink: 0;
		a{
			display: block;
		}
		img{
			max-width: 100%;
		}
	}
	&__right{
		text-align: right;
	}
	
	@media screen and (max-width: $medium){
		position: fixed;
		z-index: 8;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		&__left,&__right{
			display: none;
		}
		&__inner{
			height: auto;
			padding: 10px;
			width: 100%;
		}
	}
}
.headerLogo{
	line-height: 1;
	@media screen and (max-width: $medium){
		img{
			height: 45px;
		}
	}
}
.inlineInfo{
	display: inline-flex;
	align-items: center;
	&__icon{
		margin-right:get-vw(25px);
	}
	&__text{
		
	}
	&__desc{
		color: $cWhite;
		font-size: get-vw(17px);
		display: inline-block;
		vertical-align: baseline;
		a{
			text-decoration: none;
			color: inherit;
			&:hover{
				text-decoration: underline;
			}
		}
		&--blue{
			color: $cBlueText;
		}
		&--bolder{
			font-weight: 700;
		}
		&--upper{
			text-transform: uppercase;
		}
	}
}
.iconBorder{
	border-right:1px solid $clBlue;
	padding-right: get-vw(25px);
	&:before{
		font-size: get-vw(31px);
		color: $clBlue;
	}
	
	&--big{
		&:before{
			font-size: get-vw(68px);
		}
	}
	
	&--placeholder{
		@include icon(placeholder);
	}
	&--phone{
		@include icon(phone-call);
	}
	&--time{
		@include icon(chronometer);
	}
	&--doctor{
		@include icon(doctor);
		&.iconBorder--big:before{
			font-size: get-vw(78px);
		}
	}
	&--med{
		@include icon(medical-history);
		&.iconBorder--big:before {
			font-size: get-vw(72px);
		}
	}
	&--dentist{
		@include icon(dentist);
	}
	&--message{
		@include icon(message);
	}
	&--clock{
		@include icon(clock);
	}

	@media screen and (max-width: $medium){
		padding-right: 15px;
		&:before {
			font-size: 22px;
		}
		&--big{
			&:before {
				font-size: 54px;
			}
		}
		&--doctor {
			&.iconBorder--big:before {
				font-size: 56px;
			}
		}
		&--med {
			&.iconBorder--big:before {
				font-size: 56px;
			}
		}
	}
}
.menuLine{
	margin-top:get-vw(-60px);
	position: relative;
	z-index: 4;
	&__inner{
		width:get-vw(1600px);
		height: get-vw(90px);
		background: $clBlue;
		margin: 0 auto;
		border-radius: get-vw(5px);
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		box-shadow: 0 2px 2px 0 rgba(24, 24, 25, 0.15);
	}
	&__menu{
		flex-grow: 1;
		padding: 0 get-vw(40px);
		display: inline-flex;
		align-items: center;
		height: 100%;
	}
	&__portal{
		flex-shrink: 0;
	}
	&__info{
		background: #5dccff;
		padding-right:get-vw(40px);
		padding-left:get-vw(70px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
	}
	
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 0;
	}
	@media screen and (max-width: $medium){
		display: none !important;
	}
}
.portalButton{
	background: $clPurple;
	padding:0 get-vw(40px);
	display: inline-flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	&:after{
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: $clBlue;
		transform: translateX(-100%);
		transition:transform 0.4s ease-in-out;
		will-change: transform;
	}
	&:hover{
		&:after{
			transform: translateX(0);
		}
	}
	&__icon{
		@include icon(peoples);
		color: $cWhite;
		font-size: get-vw(45px);
		margin-right:get-vw(30px);
		line-height: get-vw(35px);
		position: relative;
		z-index: 3;
	}
	&__text{
		text-transform: uppercase;
		color: $cWhite;
		font-size: get-vw(18px);
		font-weight: 700;
		position: relative;
		z-index: 3;
	}
}
.langs{
	font-size: get-vw(18px);
	color: $cWhite;
	line-height: 1;
	display: inline-flex;
	height: 100%;
	align-items: center;
	&__item{
		display: inline-block;
		vertical-align: baseline;
		padding-right: get-vw(19px);
		position: relative;
		text-transform: uppercase;
		&:after{
			content:"";
			border-right:1px solid #fff;
			position: absolute;
			top: 0;
			right:get-vw(9px);
			height: 100%;
		}
		&:last-child{
			padding-right: 0;
			&:after{
				border-right:none;
			}
		}
	}
	a{
		color: inherit;
		text-decoration: none;
		&.active, &:hover{
			text-decoration: underline;
		}
	}
}

.socials{
	margin-left:get-vw(30px);
	flex-shrink: 0;
	&__item{
		margin-right:get-vw(10px);
		&:last-child{
			margin-right: 0;
		}
	}
}
.socIcon{
	width:get-vw(35px);
	height:get-vw(35px);
	border:2px solid #fff;
	border-radius: 50%;
	font-size: get-vw(17px);
	color: #fff;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: border-radius 0.3s ease-in-out;
	&:hover{
		border-radius: get-vw(5px);
	}
	&--facebook{
		@include icon(facebook);
	}
	
	&--blue{
		color: $clBlue;
		border-color: $clBlue;
	}
}

.topMenu{
	display: flex;
	align-items: center;
	&__home{
		color: #74d3ff;
		font-size: get-vw(27px);
		@include icon(home);
		text-decoration: none;
	}
	&__menu{
		padding:0 get-vw(55px);
		font-size: get-vw(18px);
		color: #fff;
		display: flex;
		list-style: none;
		text-transform: uppercase;
		font-weight: 700;
		li{
			position: relative;
			margin-right:get-vw(55px);
			&:after {
				content: "";
				bottom: get-vw(-10px);
				height: 1px;
				width: get-vw(75px);
				max-width: 0;
				@include horizontal-center;
				background: #fff;
				transition:max-width 0.4s ease-in-out;
			}
			&:last-child{
				margin-right: 0;
			}
			&.active, &:hover{
				&:after{
					max-width: 90%;
				}
			}
		}
		a{
			color:inherit;
			text-decoration: none;
		}
	}
}
.slider{
	margin-top:get-vw(-30px);
	position: relative;
	z-index: 3;
	&__item{
		height: get-vw(550px);
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		background-size: cover;
	}
	&__inner{
		width: get-vw(1600px);
		margin: 0 auto;
		padding-top:get-vw(35px);
	}
	&__title1{
		font-weight: 800;
		color: #004490;
		font-size: get-vw(70px);
	}
	&__title2{
		font-size: get-vw(42px);
		font-weight: 300;
		text-transform: uppercase;
		color: #004490;
	}
	&__title3{
		font-weight: 700;
		color: #004490;
		text-transform: uppercase;
		font-size: get-vw(30px);
	}
	&__button{
		margin-top:get-vw(35px);
	}
	
	.owl-dots{
		@include horizontal-center;
		bottom:get-vw(50px);
		z-index: 5;
		transform: translateZ(0);
		.owl-dot {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: relative;
			border: 1px solid transparent;
			margin-right:get-vw(5px);
			&.active{
				border-color: $cBlue;
			}
			&:last-child{
				margin-right: 0;
			}
			&:before{
				content:"";
				@include absolute-center;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $cBlue;
			}
		}
	}
	.owl-nav{
		position: absolute;
		bottom:get-vw(35px);
		right: get-vw(160px);
		.owl-prev, .owl-next {
			width: get-vw(60px);
			height: get-vw(60px);
			border-radius: get-vw(5px);
			background: #fff !important;
			@include icon(left-arrow);
			&:before {
				font-size: get-vw(25px);
				color: $cBlue;
				transition: 0.3s ease-in-out;
			}
			&:hover{
				&:before{
					color: $clBlue;
				}
			}
			span{
				display: none;
			}
			
		}
		.owl-next {
			@include icon(right-arrow);
			margin-left:get-vw(10px);
		}
	}
	@media screen and (max-width: $small){
		display: none !important;
	}
}

.boxes{
	display: flex;
	&__bg{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.6s ease-in-out;
		background-size: cover;
		background-position: 50% 50%;
		will-change: transform;
		transform: translateZ(0) scale(1.01);
	}
	&__item{
		flex-grow: 1;
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		transition:background 0.4s ease-in-out;
		overflow: hidden;
		&:hover {
			.boxes{
				&__bg{
					transform: translateZ(0) scale(1.05);
				}
			}
		}
	}
	&__link {
		@include horizontal-center;
		bottom: get-vw(50px);
		width:get-vw(36px);
		height:get-vw(36px);
		border-radius: 50%;
		border:1px solid #fff;
		@include icon(right-arrow);
		color: #fff;
		text-decoration: none;
		transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
		z-index: 3;
		&:before{
			font-size: get-vw(12px);
			@include absolute-center;
			margin-left: 1px;
		}
		&:hover{
			background: #fff;
			color: $clBlue;
		}
	}
	@media screen and (max-width: $small){
		display: block;
		&__link {
			position: relative;
			bottom: auto;
			transform: none;
			display: block;
			width: 30px;
			height: 30px;
			margin-bottom: 20px;
			&:before {
				font-size: 12px;
				margin-left: 1px;
			}
		}
	}
}

.mainBox{
	padding-top:get-vw(70px);
	padding-bottom:get-vw(110px);
	width:get-vw(415px);
	margin: 0 auto;
	color: #fff;
	position: relative;
	z-index: 3;
	&__topLine{
		margin-bottom: get-vw(40px);
		padding-bottom: get-vw(40px);
		position: relative;
		display: flex;
		justify-content: space-between;
		&:after{
			content:"";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width:get-vw(80px);
			background: #fff;
		}
	}
	&__text{
		
	}
	&__icon{
		flex-shrink: 0;
	}
	&__title{
		font-size: get-vw(28px);
		font-weight: 800;
		&--bigger{
			font-size: get-vw(50px);
		}
	}
	&__desc{
		font-weight: 300;
		@include heightLines(17px,1.7,4,true,true);
	}
	@media screen and (max-width: $small){
		padding: 20px;
		width: 100%;
		&__topLine {
			margin-bottom: 20px;
			padding-bottom: 20px;
			&:after {
				width: 60px;
			}
		}
		&__text {

		}
		&__icon {
			
		}
		&__title {
			font-size: 24px;
			&--bigger {
				font-size: 32px;
			}
		}
		&__desc{
			@include heightLines(16px, 1.7, 4, false, false);
		}
	}
	@media screen and (max-width: $bmob){
		padding: 10px;
	}
}

.circleIcon{
	width:get-vw(96px);
	height:get-vw(96px);
	border-radius: 50%;
	background: #00aeff;
	color: #00aeff;
	position: relative;
	&:before{
		color: #fff;
		@include absolute-center;
	}
	&:after{
		content:"";
		@include absolute-center;
		width:get-vw(114px);
		height:get-vw(114px);
		border-radius: 50%;
		border:2px solid currentColor;
	}
	&--blue{
		background: $cBlue;
		color: $cBlue;
	}
	&--white{
		background: #fff;
		color: #fff;
		&:before{
			color: $cBlue;
		}
	}
	
	&--iconRentgen{
		font-size: get-vw(53px);
		@include icon(x-ray);
	}
	&--iconTooth{
		@include icon(tooth);
		font-size: get-vw(53px);
	}
	&--iconBone{
		font-size: get-vw(53px);
		@include icon(kneecap);
	}
	@media screen and (max-width: $small){
		width: 80px;
		height: 80px;
		&:after {
			width: 96px;
			height: 96px;
		}
		&:before{
			font-size: 42px;
		}
	}
	@media screen and (max-width: $bmob){
		width: 58px;
		height: 58px;
		&:after {
			width: 68px;
			height: 68px;
		}
		&:before {
			font-size: 36px;
		}
	}
}

.aboutBlock{
	padding:get-vw(125px) 0;
	&__inner{
		width:get-vw(1600px);
		margin: 0 auto;
		display: flex;
	}
	&__left{
		padding-right: get-vw(40px);
		flex-grow: 1;
		position: relative;
	}
	&__title{
		color: #004490;
		font-size: get-vw(60px);
		font-weight: 800;
		&--lighter{
			font-size: get-vw(38px);
			font-weight: 300;
			text-transform: uppercase;
		}
		&--smaller{
			font-size: get-vw(30px);
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__text{
		margin-top:get-vw(40px);
		margin-bottom:get-vw(75px);
		color: #004490;
		font-size: get-vw(18px);
		p{
			line-height: 1.7;
			margin-bottom:get-vw(25px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__button{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__right{
		flex-shrink: 0;
	}
	&__boxes{
		display: grid;
		grid-template-columns: repeat(2, get-vw(465px));
		grid-column-gap:get-vw(30px);
		grid-row-gap:get-vw(30px);
	}

	@media screen and (max-width: $medium){
		padding: 20px 0;
		&__inner{
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			display: block;
		}
		&__left{
			padding-right: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		&__right{
			
		}
		&__title {
			font-size: 34px;
			&--lighter {
				font-size: 26px;
			}
			&--smaller {
				font-size: 22px;
			}
		}
		&__text {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 15px;
			p {
				margin-bottom: 15px;
			}
		}
		&__button{
			position: static;
		}
		&__boxes{
			grid-template-columns: repeat(2, calc((100% / 2) - (20px / 2)));
			grid-column-gap: 20px;
			grid-row-gap: 20px;
		}
	}
	@media screen and (max-width: $small){
		&__boxes{
			display: block;
		}
	}
	@media screen and (max-width: $bmob){
		&__inner{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.aboutBox{
	background: #eaf1f5;
	border-radius: get-vw(5px);
	padding:get-vw(40px) get-vw(35px);
	display: flex;
	align-items: center;
	color: #004490;
	&__left{
		width:get-vw(100px);
		flex-shrink: 0;
	}
	&__right{
		margin-left:get-vw(40px);
	}
	&__text{
		@include heightLines(22px, 1.25, 3, true, true);
		font-weight: 300;
	}
	&__title{
		font-size: get-vw(22px);
		font-weight: 700;
		&--big{
			font-size: get-vw(30px);
		}
	}

	@media screen and (max-width: $medium){
		border-radius: 5px;
		padding: 20px;
		&__left {
			width: 80px;
		}
		&__right {
			margin-left: 20px;
		}
		&__text {
			@include heightLines(18px, 1.25, 3, true, false);
		}
		&__title {
			font-size: 18px;
			&--big {
				font-size: 22px;
			}
		}
	}
	@media screen and (max-width: $small){
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	@media screen and (max-width: $bmob){
		padding: 10px;
	}
}

.bottom{
	padding:get-vw(110px) 0;
	position: relative;
	overflow: hidden;
	&__bg{
		left: 0;
		width: 100%;
		height:get-vw(1509px);
		min-height:1509px;
		background: url(../images/foot_bg.jpg) 0 0 no-repeat;
		background-size: cover;
		position: absolute;
		top: -50%;
	}
	&__inner{
		width:get-vw(1600px);
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	&__boxes{
		display: flex;
	}
	&__left{
		width: 50%;
		position: relative;
		&:before{
			content:"";
			position: absolute;
			z-index: -1;
			width:get-vw(160px);
			height:get-vw(560px);
			background: $clBlue;
			right: 0;
			top:get-vw(-30px);
		}
		img{
			width: 100%;
		}
	}
	&__right{
		background: #fff;
		width: 50%;
		position: relative;
		padding-top:get-vw(110px);
		padding-right:get-vw(110px);
		padding-bottom:get-vw(75px);
		padding-left:get-vw(160px);
		&:after{
			content:"";
			position: absolute;
			bottom:get-vw(100px);
			right: 0;
			height: 1px;
			width:get-vw(80px);
			background: $clBlue;
		}
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			width: get-vw(160px);
			height: get-vw(560px);
			background: $cBlue;
			left: 0;
			top: get-vw(-70px);
		}
	}
	&__title{
		font-size: get-vw(38px);
		color: #004490;
		font-weight: 300;
		&--bolder{
			font-size: get-vw(48px);
			font-weight: 800;
		}
		&--bold{
			font-weight: 700;
			font-size: get-vw(48px);
		}
		&--blue{
			font-size: get-vw(30px);
			color: $clBlue;
		}
		&--upper{
			text-transform: uppercase;
		}
	}
	&__button{
		margin-top:get-vw(40px);
	}

	@media screen and (max-width: $medium){
		padding: 0;
		text-align: center;
		&__bg{
			display: none;
		}
		&__inner{
			width: 100%;
		}
		&__left{
			display: none;
		}
		&__right{
			width: 100%;
			padding: 20px;
			&:before{
				display: none;
			}
		}
		&__title {
			font-size: 22px;
			line-height: 1.25;
			&--bolder {
				font-size: 28px;
			}
			&--bold {
				font-size: 28px;
			}
			&--blue {
				font-size: 18px;
			}
		}
		&__button {
			margin-top: 20px;
		}
	}
	@media screen and (max-width: $bmob){
		&__right{
			padding: 10px;
		}
	}
}

.up{
	position: fixed;
	bottom: 20%;
	z-index: 6;
	right:get-vw(25px);
	width:get-vw(40px);
	height:get-vw(40px);
	border-radius: 50%;
	background: $clBlue;
	@include icon(up-arrow);
	font-size: get-vw(19px);
	color: #fff;
	cursor: pointer;
	transition:background 0.4s ease-in-out, opacity 0.4s ease-in-out;
	opacity: 0;
	&:hover{
		background: $clPurple;
	}
	&:before{
		@include absolute-center;
	}
	&.visible{
		opacity: 1;
	}
	@media screen and (max-width: $medium){
		display: none;
	}
}

.footer{
	padding-top: get-vw(80px);
	position: relative;
	&:before {
		content: "";
		@include horizontal-center;
		top: 0;
		height: 5px;
		width: get-vw(1600px);
		background: $clBlue;
	}
	&__inner{
		width:get-vw(1600px);
		margin: 0 auto;
	}
	&__infoLine{
		display: flex;
		justify-content: space-between;
		margin-bottom:get-vw(75px);
	}
	@media screen and (max-width: $medium){
		padding-top: 40px;
		&__inner{
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
		&__infoLine{
			flex-wrap: wrap;
			margin-bottom: 0;
		}
	}
	@media screen and (max-width: $bmob){
		&__inner{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.footInfo{
	display: flex;
	&__left{
		
	}
	&__right{
		margin-left:get-vw(30px);
	}
	&__title{
		font-size: get-vw(16px);
		text-transform: uppercase;
		color: #004490;
		font-weight: 700;
	}
	&__desc{
		font-size: get-vw(16px);
		color: #98b0bd;
		line-height: 1.25;
	}
	a{
		color: inherit;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}

	@media screen and (max-width: $medium){
		width: 50%;
		margin-bottom: 20px;
		&__right {
			margin-left: 20px;
		}
		&__title {
			font-size: 14px;
		}
		&__desc {
			font-size: 13px;
		}
	}
	@media screen and (max-width: $bmob){
		width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
}

.footerLine{
	margin-bottom:get-vw(50px);
	&__inner{
		display: flex;
		align-items: center;
		border-top: 1px solid #d5e2ea;
		border-bottom: 1px solid #d5e2ea;
		padding: get-vw(15px) 0;
		padding-left: get-vw(70px);
		padding-right: get-vw(40px);
		width:get-vw(1600px);
		margin: 0 auto;
		justify-content: space-between;
	}
	&__menu{
		
	}
	&__soc{
		display: inline-flex;
		align-items: center;
	}
	@media screen and (max-width: $medium){
		margin-bottom: 20px;
		&__menu{
			display: none;
		}
		&__inner{
			border:none;
			justify-content: center;
			padding: 10px 0;
			width: 100%;
		}
		
	}
}

.footerMenu{
	font-size: get-vw(17px);
	color: #98b0bd;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	list-style: none;
	li{
		margin-right:get-vw(75px);
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		color:inherit;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.copyright{
	font-size: get-vw(14px);
	color: #b8cdd9;
	a{
		text-decoration: none;
		color: inherit;
		&:hover{
			text-decoration: underline;
		}
	}
	@media screen and (max-width: $medium){
		font-size: 13px;
	}
}
.footerSocials{
	&__item{
		border-left: 1px solid #d5e2ea;
		padding-left: get-vw(25px);
		margin-left:get-vw(25px);
	}
	@media screen and (max-width: $medium){
		display: none;
	}
}
.footerLogo{
	margin-bottom:get-vw(30px);
	display: flex;
	justify-content: center;
	@media screen and (max-width: $medium){
		display: none;
	}
}

.innerBg{
	background: url(../images/foot_bg.jpg) 0 72% no-repeat;
	height:get-vw(241px);
	width: 100%;
	background-size: cover !important;
	margin-top: get-vw(-30px);
	&--contact{
		background: url(../images/contact_bg.jpg) 0 0 no-repeat;
	}

	@media screen and (max-width: $medium){
		display: none;
	}
}

.mainTitle{
	color: #004490;
	font-size: get-vw(36px);
	font-weight: 800;
	text-align: center;
	padding-top:get-vw(20px);
	padding-bottom:get-vw(15px);
	margin-bottom:get-vw(15px);
	position: relative;
	&:after{
		content:"";
		@include horizontal-center;
		bottom: 0;
		width:get-vw(75px);
		background: $clBlue;
		height: 1px;
	}
	&--smaller{
		font-size: get-vw(24px);
	}
	@media screen and (max-width: $medium){
		font-size: 26px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		&:after {
			width: 70px;
		}
		&--smaller {
			font-size: 20px;
		}
	}
}

.mainContainer{
	width:get-vw(1600px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom:get-vw(65px);
	&__sidebar{
		width:get-vw(340px);
		flex-shrink: 0;
		margin-right:get-vw(25px);
	}
	&__text{
		width:get-vw(1235px);
		border:2px solid #eaf1f5;
		border-radius: get-vw(5px);
		padding:get-vw(30px);
		flex-grow: 1;
	}
	@media screen and (max-width: $medium){
		width: 100%;
		&__sidebar{
			display: none;
		}
	}
}

.contactForm{
	&__inner{
		width: get-vw(1600px);
		margin: 0 auto;
		background: #EFF3F4 url(../images/contact_form_bg.jpg) 0 0 no-repeat;
		background-size: contain;
		padding-top: get-vw(10px);
		border: 1px solid #eaf1f5;
		margin-bottom: get-vw(70px);
		border-radius: get-vw(5px);
		overflow: hidden;
	}
	&__form{
		max-width: get-vw(960px);
		margin: 0 auto;
		margin-top: get-vw(40px);
		padding-bottom: get-vw(33px);
		position: relative;
		@include icon(send);
		&:before{
			position: absolute;
			top: 0;
			right: get-vw(-35px);
			font-size: get-vw(76px);
			color: $clBlue;
			transform: translateX(100%);
		}
	}
	@media screen and (max-width: $medium) {
		&__inner{
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 0;
			padding-top: 0;
			border-radius: 5px;
			border:none;
		}
		&__form {
			margin-top: 20px;
			padding-bottom: 20px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			&:before {
				display: none;
			}
		}
	}
	@media screen and (max-width: $bmob){
		&__inner{
			padding-left: 10px;
			padding-right: 10px;
			background-image: none;
		}
	}
}

.contactPlaces{
	margin-bottom: get-vw(70px);
	&__inner{
		width: get-vw(1600px);
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 49.5%);
		grid-column-gap: 1%;
	}
	
	@media screen and (max-width: $medium){
		margin-bottom: 20px;
		&__inner{
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@media screen and (max-width: $xsmall){
		&__inner{
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.contactPlace{
	border: 2px solid #eaf1f5;
	padding: get-vw(30px) get-vw(8px) get-vw(8px) get-vw(8px);
	background: #fff;
	border-radius: get-vw(5px);
	overflow: hidden;
	&__title{
		font-size: get-vw(24px);
		font-weight: 700;
		line-height: 1.1;
		color: #004490;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: get-vw(55px);
	}
	&__infoLine{
		display: flex;
		justify-content: space-between;
		color: $cBlue;
		padding: 0 get-vw(45px);
		margin-bottom: get-vw(55px);
		line-height: 1.4;
	}
	&__info{
		padding-left: get-vw(60px);
		position: relative;
		font-size: get-vw(22px);
		&:before{
			width: get-vw(35px);
			position: absolute;
			top: get-vw(4px);
			left: 0;
			color: $clBlue;
		}
		&--placeholder{
			@include icon(placeholder);
			&:before{
				font-size: get-vw(31px);
			}
		}
		&--phone{
			@include icon(phone-call);
			&:before{
				font-size: get-vw(30px);
			}
		}
		&--email{
			@include icon(message);
			&:before{
				font-size: get-vw(31px);
			}
		}
	}
	&__place{
		width: 45%;
		flex-shrink: 0;
	}
	&__infos{
		width: 51%;
		flex-shrink: 0;
		a{
			&[href^="tel:"] {
				text-decoration: none;
				color: $cBlue;
				&:hover {
					color: $clBlue;
				}
			}
			color: $clBlue;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
			
		}
	}
	&__map{
		position: relative;
		@include aspect-ratio(18,9);
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	@media screen and (max-width: $medium){
		padding: 20px 5px 5px 5px;
		border-radius: 5px;
		&__title {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&__infoLine {
			padding: 0 20px;
			margin-bottom: 30px;
			flex-wrap: wrap;
			
		}
		&__info {
			padding-left: 40px;
			font-size: 16px;
			&:before {
				width: 30px;
				top: 2px;
				font-size: 22px;
			}
		}
		&__place {
			width: 100%;
			margin-bottom: 15px;
		}
		&__infos {
			width: 100%;
		}
	}
	@media screen and (max-width: $xsmall){
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.offerList{
	display: grid;
	grid-template-columns: repeat(3, calc((100% / 3) - ((1.0416666667vw * 2) / 3)));
	grid-column-gap: get-vw(20px);
	grid-row-gap: get-vw(20px);
	&__item{
		
	}
}

.oneOffer{
	border-radius: get-vw(5px);
	overflow: hidden;
	border: 1px solid #eaf1f3;
	background: #fff;
	&__image{
		@include aspect-ratio(405,270);
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
	&__text{
		padding: get-vw(30px);
		font-size: get-vw(24px);
		text-transform: uppercase;
		color: $cBlue;
		font-weight: 700;
		text-align: center;
	}
	&__title{
		margin-bottom: get-vw(30px);
	}
	&__button{
		
	}
}

@import "../partials/breadcrumbs";
@import "../partials/cookies";
@import "../partials/defaultMenu";
@import "../partials/generate";
@import "../partials/sidebar";
@import "../partials/newsList";
@import "../partials/form";

@import "../modules/download";
@import "../modules/modules";
@import "../modules/content";
@import "../modules/popup";
@import "../modules/photo_lightbox";
@import "../modules/video_playlist";

.mfp-gallery{
	.mfp-bottom-bar{
		display: flex;
		padding: 10px 0;
		align-items: center;
	}
	.mfp-counter{
		position: static;
	}
	.mfp-title{
		line-height: 1;
		font-size: 13px;
		flex-grow: 1;
	}
}
