$contentFontSize:16px !default;
$contentLinkColor:blue !default;
$contentLiColor: cornflowerblue !default;
$contentColor: #000 !default;

$tableHead1Color: #00aeff !default;
$tableHead2Color: #004490 !default;
$tableBody1Color: #eaf1f5 !default;
$tableBody2Color: #f4f5f6 !default;

.contentBlock{
	font-size: get-vw($contentFontSize);
	color: $contentColor;
	line-height: 1.4;
	//h1-h6
	@for $i from 1 through 6 {
		h#{7 - $i} {
			font-size: $contentFontSize*($i*0.2)+13;
			margin: $i*0.1vw 0;
		}
	}
	h1,h2,h3,h4,h5,h6{
		color: $contentColor;
	}
	a{
		color: $contentLinkColor;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	ul, ol{
		list-style: disc;
		list-style-position: inside;
		padding-left:get-vw(30px);
		margin:get-vw(25px) 0;
		li{
			line-height: 1.25;
			margin-bottom:get-vw(5px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	ul{
		li{
			list-style: none;
			position: relative;
			padding-left: 20px;
			&:before{
				content: "";
				position: absolute;
				top: 8px;
				left: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $contentLiColor;
			}
		}
	}
	ol{
		list-style-type: decimal;
	}
	dl {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		width: 100%;
		overflow: visible;
		margin: get-vw(25px) 0;
	}
	dt {
		flex: 0 0 50%;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	dd {
		flex: 0 0 50%;
		margin-left: auto;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	p{
		margin: get-vw(15px) 0;
		line-height: 1.4;
	}
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #ccc;
		margin: get-vw(20px) 0;
		padding: get-vw(15px) get-vw(15px) get-vw(15px) get-vw(60px);
		quotes: "\201C""\201D""\2018""\2019";
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		&:before{
			color: #ccc;
			content: open-quote;
			font-size: 3vw;
			line-height: get-vw(36px);
			position: absolute;
			top:get-vw(20px);
			left: get-vw(20px);
		}
		p, div{
			margin: 0;
		}
	}
	
	hr{
		border:none;
		background: #000;
		height: 1px;
		width: 100%;
		margin: get-vw(15px) 0;
	}
	
	pre{
		margin:get-vw(20px) 0;
		background: #f9f9f9;
		color: #000;
		padding:get-vw(10px) get-vw(30px);
		font-family: $fontFamily;
		font-size: get-vw(14px);
		line-height: 1.5;
		div,p{
			display: inline;
		}
	}
	
	small{
		font-size: get-vw(14px);
	}
	s,strike,del{
		text-decoration: line-through;
	}
	abbr, acronym {
		border-bottom: 1px dashed;
		cursor: help;
	}
	table{
		width: 100%;
		caption{
			font-size: get-vw(18px);
			font-style: italic;
			text-align: center;
			margin-bottom:get-vw(10px);
		}
		tr{
			&:first-child{
				td{
					font-weight: bold;
					text-align: center;
				}
			}
		}
		td,th{
			font-size: get-vw(15px);
			padding:get-vw(9px) get-vw(15px);
			line-height: 1.1;
		}
	}
	
	i, cite, em, var, address, dfn {
		font-style: italic;
	}

	figure{
		margin: 0;
		padding: 0;
	}
	img{
		max-width: 100%;
	}
	
	.styledTable {
		overflow-x: auto;
		table {
			min-width: 600px;
			border-spacing: 0;
		}
		tbody tr:first-child {
			td,th {
				text-align: left;
				font-weight: bold;
				color: #fff;
				border-bottom: 1px solid #fff;
				background: $tableHead1Color;
				&:nth-child(2n) {
					background: $tableHead2Color;
				}
			}
		}
		td,th {
			background: $tableBody1Color;
			border-bottom: 1px solid #fff;
			padding: get-vw(20px) get-vw(35px);
			text-align: left;
			color: #004490;
			&:nth-child(2n) {
				background: $tableBody2Color;
			}
		}
	}
	
	@media screen and (max-width: $medium){
		font-size: $contentFontSize - 3px;
		@for $i from 1 through 6 {
			h#{7 - $i} {
				font-size: $contentFontSize*($i*0.12)+13;
				margin: $i*2px 0;
			}
		}
		blockquote {
			margin: 10px 0;
			padding: 15px 15px 15px 40px;
			&:before {
				font-size: 32px;
				line-height: 18px;
				top: 10px;
				left: 15px;
			}
		}
		table {
			caption {
				font-size: 15px;
				margin-bottom: 10px;
			}
			td, th {
				font-size: 14px;
				padding: 6px 10px;
			}
		}
		pre {
			margin: 10px 0;
			padding: 10px 20px;
			font-size: 13px;
		}
		small {
			font-size: 12px;
		}
		ul,ol{
			margin: 20px 0;
		}
		.styledTable{
			td, th {
				padding: 10px 20px;
			}
		}
	}
}
