@import "../mixins";

$downloadColumns: 2 !default;
$downloadColumnGap: 4% !default;
$downloadRowGap: 15px !default;
$downloadColumnsWidth: (100% / $downloadColumns);
$downloadIconSize: 70px !default;
$downloadIconFont: 39px !default;
$downloadIconMargin: get-vw($downloadIconSize / 2);
$downloadBg: #fff !default;
$downloadBorder: #eaf1f5 !default;

.downloads{
	margin: get-vw(80px) 0;
	display: grid;
	grid-template-columns: repeat($downloadColumns, $downloadColumnsWidth - ($downloadColumnGap / 2));
	grid-column-gap: $downloadColumnGap;
	grid-row-gap:get-vw($downloadRowGap);
	&__item{
		
	}
	@media screen and (max-width: $medium){
		display: block;
		margin: 20px 0;
	}
}

.downloadItem{
	$r: &;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:get-vw(10px);
	background: $downloadBg;
	border: 2px solid $downloadBorder;
	position: relative;
	line-height: 1;
	margin-left: $downloadIconMargin;
	&__icon{
		width:get-vw($downloadIconSize);
		height:get-vw($downloadIconSize);
		@include vertical-center;
		left: 0;
		font-size: get-vw($downloadIconFont);
		color: #fff;
		background: #000;
		border-radius: 50%;
		margin-left: $downloadIconMargin * -1;
		&:before{
			color: #fff;
			@include absolute-center;
		}
		&--pdf {
			background: #ff0066;
			@include icon(pdf);
		}
		&--doc, &--docx {
			background: #004490;
			@include icon(doc);
			
		}
		&--jpg, &--png {
			background: darkgreen;
		}
		&--xls, &--xlsx {
			background: green;
		}
		&--zip{
			background: #A035B6;
			@include icon(zip);
		}
	}
	&__text{
		padding-left:get-vw(55px);
		padding-right:get-vw(20px);
		font-size: get-vw(18px);
		font-weight: 400;
	}
	&__button{
		height: 100%;
		text-decoration: none;
		flex-shrink: 0;
	}
	@media screen and (max-width: $medium){
		padding: 8px;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		&__icon {
			width: $downloadIconSize*0.75;
			height: $downloadIconSize*0.75;
			font-size: $downloadIconFont*0.75;
			margin-left: $downloadIconMargin * -1;
		}
		&__text {
			padding-left: 50px;
			padding-right: 10px;
			font-size: 15px;
			word-break: break-all;
		}
	}
}
