$module_title: #000 !default;
$module_description: #333 !default;
$module_empty: #333 !default;

.module{
	margin:get-vw(40px) 0;
	&__title{
		font-size: get-vw(24px);
		font-weight: 700;
		line-height: 1.1;
		color: $module_title;
		margin-bottom: get-vw(40px);
	}
	&__description{
		font-size: get-vw(18px);
		font-weight: 400;
		color: $module_description;
		line-height: 1.25;
		margin-bottom:get-vw(20px);
	}
	&__empty{
		color: $module_empty;
		margin-top: get-vw(20px);
	}
	@media screen and (max-width: $medium){
		margin: 20px 0;
		&__title {
			font-size: 18px;
			margin-bottom: 20px;
		}
		&__description {
			font-size: 16px;
			margin-bottom: 15px;
		}
		&__empty {
			margin-top: 15px;
		}
	}
}
