.galleryList {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-column-gap:get-vw(15px);
	grid-row-gap:get-vw(15px);
	&__item {
		display: block;
		position: relative;
		z-index: 5;
		@include icon(magnifying-glass);
		&:before {
			width: get-vw(80px);
			height: get-vw(80px);
			border-radius: 50%;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			@include absolute-center;
			z-index: 6;
			font-size: get-vw(44px);
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}
		&:after{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#004490, 0.8);
			z-index: 5;
			transition: opacity 0.4s ease-in-out;
			opacity: 0;
		}
		&:hover {
			&:before, &:after {
				opacity: 1;
			}
			.galleryItem {
				&:after {
					height: 0;
				}
				&__desc {
					transform: translateY(100px);
				}
			}
		}
	}
	@media screen and (max-width: $medium) {
		grid-template-columns: repeat(4, calc((100% / 4) - ((3 * 10px) / 4)));
		grid-column-gap:10px;
		grid-row-gap: 10px;
		&__item {
			&:before {
				width: 56px;
				height: 56px;
				font-size: 24px;
			}
		}
	}
	@media screen and (max-width: $small) {
		grid-template-columns: repeat(3, calc((100% / 3) - ((2 * 10px) / 3)));
	}
	@media screen and (max-width: $bmob) {
		grid-template-columns: repeat(2, calc((100% / 2) - ((1 * 10px) / 2)));
	}
}
.galleryItem {
	z-index: 3;
	@include aspect-ratio(270px, 200px);
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	&:after {
		height: get-vw(60px);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
		width: 100%;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		transition: background 0.4s ease-in-out;
		opacity: 0.55;
	}
	&__desc {
		font-size: get-vw(14px);
		font-weight: 400;
		color: #fff;
		position: absolute;
		bottom: get-vw(20px);
		left: 0;
		padding: 0 get-vw(20px);
		z-index: 4;
		transition: transform 0.4s ease-in-out;
	}
	@media screen and (max-width: $medium) {
		&:after {
			height: 50px;
		}
		&__desc {
			font-size: 13px;
			bottom: 15px;
			padding: 0 15px;
		}
	}
}
