.popup {
	max-width: 80vw;
	margin: 0 auto;
	position: relative;
	text-align: left;
	display: inline-flex;
	justify-content: center;
	a {
		display: block;
		line-height: 1;
	}
}
.mfp-content{
	text-align: center;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}