include ../../../_mixins
	
- var className = "@if($elements->data[$elementId]->external ==0 && ("/".\Request::path()==$url || \Request::path()==$url || \Request::path()==\App::getLocale())) active @endif";
- var target = "@if($elements->data[$elementId]->external==1) _blank @endif"
	
+if("\\Request::segment(1)!='panel'")
	+if("count($elements->data)>0")
		ul
			+foreach("$elements->hierarchy[$level][$parentId] as $elementId")
				li
					+if("array_key_exists($level+1,$elements->hierarchy) && array_key_exists($elementId,$elements->hierarchy[$level+1])")
						ul
							li
								a(href="#") {{$elements->data[$elementId]->menu_title}}
								{!!\App\Models\Menu::render($level+1,$elementId,$elements,$langPrefix,"front.modules.menu.main")!!}
						+else
							+php.
								$url = \App\Helpers\Url::getPageUrl($elements->data[$elementId]->entity_id, \App::getLocale());
								if ($elements->data[$elementId]->mainpage == 1)
									$host = $url = "/";
								else if ($elements->data[$elementId]->external == 1)
									$host = $elements->data[$elementId]->external_url;
								else
									$host = $url;
							a(class!=className, target!=target, href="{{$host}}") {{$elements->data[$elementId]->menu_title}}