include ../../../_mixins
	
+if("\\Request::segment(1)!='panel'")
	+if("count($elements->data)>0")
		ul.mobileMenu__list
			+if("$level == 0")
				li
					a(href="/") Strona główna
			+foreach("$elements->hierarchy[$level][$parentId] as $elementId")
				li
					+if("array_key_exists($level+1,$elements->hierarchy) && array_key_exists($elementId,$elements->hierarchy[$level+1])")
						+php $url = \App\Helpers\Url::getPageUrl($elements->data[$elementId]->id, \App::getLocale());
						a(data-menu, href!="{{$url}}") {{$elements->data[$elementId]->title}}
						{!!\App\Models\Menu::render($level+1,$elementId,$elements,$langPrefix,"front.modules.menu.mobile")!!}
						+else
							+php $url = \App\Helpers\Url::getPageUrl($elements->data[$elementId]->id, \App::getLocale());
							a(class!=className, href!="{{$url}}") {{$elements->data[$elementId]->title}}
			+if("$level == 0")
				li
					a(data-menu) Języki
					@include('front.partial.language_switch_mobile',['langsToSwitch'=>\App\Models\Language::getFrontLanguages()])
