include ../../../_mixins
	
- var className = '@if(\Request::path()==$url || "/".\Request::path()==$url || strpos("/".\Request::path(),$url)!==FALSE) active @endif';
	
+if("\\Request::segment(1)!='panel'")
	+if("count($elements->data)>0")
		.topMenu
			a(href="/").topMenu__home
			ul.topMenu__menu
				+if("$level == 0")
					li
						a(href="/") Strona główna
				+foreach("$elements->hierarchy[$level][$parentId] as $elementId")
					+php $url = \App\Helpers\Url::getPageUrl($elements->data[$elementId]->id, \App::getLocale());
					li(class!=className)
						a(href!="{{$url}}") {{$elements->data[$elementId]->title}}
