@extends('layouts.app')
@section('content')
	{{trans('front.tag.post_header')}}
	@if($tag){{$tag->language[0]->name}}@else{{$tagName}}@endif
	@include('front.partial.breadcrumbs')
	@if(count($results)>0)
		@foreach($results as $result)
			{{$result[0]}} {{$result[1]}}
		@endforeach

		div(style="display:none;").
			@php
				$links = $paginator->links();
				$patterns[] = '/\?p\=/';
				$replacements[] = '/';
				echo preg_replace($patterns, $replacements, $links);
			@endphp

	@else
		{{trans('front.tag.no_results')}}
	@endif
@endsection
