include ../../_mixins
+if("$breadcrumbs")
	.bread
		.breadcrumbs
			.breadcrumbs__name {{trans("front.breadcrumbs.main")}}
			ol.breadcrumbs__breads
				+foreach("$breadcrumbs as $breadcrumb")
					+if("$breadcrumb->url && !$breadcrumb->last")
						li
							a(href!='{{ $breadcrumb->url }}') {{ $breadcrumb->title }}
						+else
						li.active {{ $breadcrumb->title }}
						
script(type='application/ld+json').
	{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		@php $bcounter = 0; @endphp
		@foreach($breadcrumbs as $breadcrumb)
		@php $bcounter++; @endphp
		{
		"@type": "ListItem",
		"position": {{$bcounter}},
		"item": {
			"@id": "{{ $breadcrumb->url }}",
			"name": "{{ $breadcrumb->title }}"
			}
		}
		@if(!$breadcrumb->last) , @endif
		@endforeach
	]
	}
