.cookiesInfo(data-cookies)
	.cookiesInfo__inner
		.cookiesInfo__icon
		.cookiesInfo__text Serwis korzysta z plików cookies w celu realizacji usług zgodnie z&nbsp;
			a(href='/polityka_cookies.pdf', target='_blank', rel="nofollow", title="Polityka prywatności") polityką prywatności
			| &nbsp;. Możesz określić warunki przechowywania lub dostępu do cookies w Twojej przeglądarce lub konfiguracji usługi.
		.cookiesInfo__close(title="{{trans('front.close')}}", data-closecookies)