include ../../_mixins
	
- var href = "@php if(isset($lang_switcher_links) && array_key_exists($lang->symbol, $lang_switcher_links)) { echo $lang_switcher_links[$lang->symbol];} else if (\Request::segment(1) != 'panel' || !\Auth::user()) {echo route('homepage_language', ['frontlanguage' => $lang->symbol], false);} else {echo route('language_change', ['symbol' => $lang->symbol], false);} @endphp";
	
+if("count($langsToSwitch) > 1")
	.langs
		+foreach("$langsToSwitch as $lang")
			.langs__item
				a(href!=href) {{$lang->symbol}}