$breadHomeColor: #333 !default;
$breadLinkColor: #333 !default;
$breadLinkColorHover: #000 !default;
$breadTextColor: #000 !default;
$breadDelimiterColor: red !default;

.bread{
	padding: get-vw(17px) 0;
	padding-left: get-vw(40px);
	border-bottom: 2px solid #eaf1f5;
	@media screen and (max-width: $medium){
		display: none;
	}
}
.breadcrumbs{
	display: flex;
	align-items: center;
	line-height: 1;
	width:get-vw(1600px);
	margin: 0 auto;
	&__name{
		color: $breadHomeColor;
		font-size: get-vw(13px);
		font-weight: 400;
	}
	&__breads{
		font-size: 0;
		margin:0 0 0 get-vw(13px);
		padding: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			font-size: get-vw(13px);
			font-weight: 400;
			color: $breadTextColor;
			padding-left: get-vw(30px);
			margin-right:get-vw(12px);
			position: relative;
			@include icon(breadArrow);
			&:before{
				font-size: get-vw(9px);
				@include vertical-center;
				left: 0;
				color: $breadDelimiterColor;
			}
			&.active{
				color: $breadLinkColorHover;
			}
		}
		a{
			color: $breadLinkColor;
			text-decoration: none;
			&:hover{
				color: $breadLinkColorHover;
			}
		}
	}
}
