$cookies-bg:blue !default;
$cookies-color:#fff !default;
$cookies-linkColor:#fff !default;
$cookies-closeHover:red !default;

$width:1200px;
$fontSize:13px;
$lh:1.4;

.cookiesInfo{
	display:none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	z-index: 9999;
	background: $cookies-bg;
	&__inner{
		max-width: $width;
		padding: 10px;
		margin: 0 auto;
		color: $cookies-color;
		font-size: $fontSize;
		line-height:$lh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 768px){
			font-size: $fontSize*0.923;
		}
		@media screen and (max-width: 480px){
			font-size: $fontSize*0.85;
			padding: 7px;
		}
	}
	&__icon{
		flex-shrink: 0;
		background: url(../images/cookie.png) 0 0 no-repeat;
		background-size: contain;
		width:31px;
		height:32px;
		margin-right:get-vw(35px);
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__text{
		flex-grow: 1;
	}
	&__close{
		flex-shrink: 0;
		position: relative;
		@include icon(closecookies);
		cursor: pointer;
		color: $cookies-color;
		font-size: 26px;
		line-height: 1;
		margin-left:get-vw(35px);
		text-align: center;
		padding:7px;
		&:hover{
			color: $cookies-closeHover;
		}
		@media screen and (max-width: 480px){
			position: absolute;
			right: 0;
			top: 0;
			transform: translateY(-100%);
			background: $cookies-bg;
			font-size: 16px;
		}
	}
	a{
		color: $cookies-linkColor;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}