$mobileBg: #fff !default;
$mobileLink: blue !default;
$mobileBorder: #ccc !default;
$mobileActive: blue !default;
$mobileClose: blue !default;
$mobileBackIcon: blue !default;
$mobileOpenButton: blue !default;
$mobileOpenButtonColor: #fff !default;

.mobileMenu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $mobileBg;
	z-index: 999;
	transform: translateX(-100%);
	transition: transform 0.6s ease-in-out;
	&.opened{
		transform: translateX(0);
	}
	&__inner{
		max-width: 420px;
		margin: 0 auto;
		padding: 30px 0 0 0;
		height: 100%;
		position: relative;
	}
	&__logo{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	&__list{
		text-align: center;
		list-style: none;
		margin-top: 20px;
		margin-bottom: 20px;
		height: calc(100% - 126px);
		overflow-y: auto;
		position: relative;
		li{
			display: block;
			border-bottom: 1px solid $mobileBorder;
			color: $mobileLink;
			&:last-child{
				border-bottom-width: 0;
			}
		}
		a{
			text-decoration: none;
			display: block;
			padding: 11px 20px;
			color:inherit;
			&.actived{
				@include horizontal-center;
				top: 0;
				color: $mobileActive;
				z-index: 9;
				padding: 0;
				width: 100%;
				line-height: 40px;
				border-bottom: 1px solid $mobileBorder;
			}
		}
		.mobileMenu__list {
			position: absolute;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: $mobileBg;
			margin: 0;
			padding: 40px 0 0 0;
			z-index: 7;
			visibility: hidden;
		}
		&.opened{
			opacity: 1;
			visibility: visible;
		}
	}
	&__socials{
		bottom: 11px;
		width: 100%;
		@include horizontal-center;
		display: flex;
		justify-content: center;
	}
	&__social{
		
	}
	
}

.mobSoc{
	width: 34px;
	height: 34px;
	border:1px solid;
	border-radius: 50%;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	&:before{
		@include absolute-center;
	}
	&--facebook{
		@include icon(facebook);
		font-size: 20px;
		color: #3b5998;
		border-color:currentColor;
	}
}
.closeMobile{
	position: absolute;
	top: 15px;
	right: 15px;
	color: $mobileClose;
	@include icon(closecookies);
	font-size: 22px;
	z-index: 10;
}

.js-openMenu{
	width: 47px;
	height: 47px;
	background: $mobileOpenButton;
	position: fixed;
	top: 10px;
	right: 10px;
	color: $mobileOpenButtonColor;
	display: none;
	z-index: 9;
	@include icon(menu2);
	font-size: 20px;
	border-radius: 5px;
	&:before{
		@include absolute-center;
	}
	@media screen and (max-width: $medium){
		display: block;
	}
}

.mobilePrev{
	@include icon(left-arrow);
	font-size: 22px;
	color: $mobileBackIcon;
	position: absolute;
	top: 0;
	left: 20px;
	line-height: 40px;
	z-index: 11;
	width: 40px;
}
