$formPlaceholder:#004490 !default;
$formColor:#004490 !default;
$formBorder:#004490 !default;
$formInputBg:#fff !default;
$formGap:15px !default;

.styledForm{
	&__row{
		position: relative;
		margin-bottom:get-vw($formGap);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		&--button{
			justify-content: center;
		}
	}
	&__left{
		width:40%;
		padding-right: get-vw(20px);
		flex-shrink: 0;
		line-height: 1.1;
	}
	&__right{
		width: 60%;
		flex-grow: 1;
	}
	&__label{
		font-size: get-vw(15px);
		color: #000;
		flex-grow: 1;
		width: 100%;
		+ .styledFormItems{
			&__checkbox{
				margin-top:get-vw($formGap);
			}
		}
	}
	
	&--twocols{
		.styledForm{
			&__left,&__right{
				width: 50%;
				padding: 0;
				flex-grow: 1;
			}
			&__left{
				padding-right:get-vw($formGap / 2);
			}
			&__right {
				padding-left: get-vw($formGap / 2);
			}
		}
	}
	@media screen and (max-width: $medium){
		&__row{
			margin-bottom: $formGap;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__left,&__right{
			width: 100%;
			padding: 0;
		}
		&__label{
			margin-bottom: $formGap;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			padding-left: 15px;
		}
		&--twocols{
			.styledForm{
				&__left, &__right {
					width: 100%;
					padding: 0;
					margin: 0;
				}
				&__left{
					margin-bottom:$formGap;
				}
			}
		}
	}
}

.styledFormItems{
	&--input{
		display: block;
		width: 100%;
		font-family: $fontFamily;
		color: $formColor;
		background: $formInputBg;
		padding:0 get-vw(25px);
		height:get-vw(40px);
		border:1px solid $formBorder;
		font-size: get-vw(15px);
		@include placeholder{
			color: $formPlaceholder;
		}
	}
	&--textarea{
		resize: none;
		display: block;
		width: 100%;
		font-family: $fontFamily;
		color: $formColor;
		background: $formInputBg;
		padding: get-vw(10px) get-vw(25px);
		height: get-vw(115px);
		border: 1px solid $formBorder;
		font-size: get-vw(15px);
		@include placeholder {
			color: $formPlaceholder;
		}
	}
	&--select {
		display: block;
		width: 100%;
		font-family: $fontFamily;
		color: $formColor;
		background: $formInputBg;
		padding: 0 get-vw(20px);
		height: get-vw(40px);
		border: 1px solid $formBorder;
		font-size: get-vw(15px);
	}
	&__checkbox{
		
	}
	@media screen and (max-width: $medium){
		&--input{
			padding: 0 15px;
			height: 35px;
			font-size: 14px;
		}
		&--textarea {
			padding: 10px 15px;
			height: 80px;
			font-size: 14px;
		}
	}
}

.exampleContainer{
	max-width: 900px;
	margin: 0 auto;
}

.styledCheckbox, .styledRadio {
	display: flex;
	position: relative;
	input {
		margin: 0;
		padding: 0;
		opacity: 0 !important;
		position: absolute;
		z-index: -1;
		width: 26px !important;
		height: 26px !important;
		top: 0;
		left: 0;
		&:checked + label:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 10px;
			height: 10px;
			background: $formBorder;
		}
	}
	label {
		border: 1px solid $formBorder;
		width: 26px;
		height: 26px;
		flex-shrink: 0;
		cursor: pointer;
		margin-right: get-vw(15px);
		position: relative;
	}
	span {
		color: #000;
		font-size: get-vw(15px);
	}
	a {
		color: #11a3dc;
		font-size: get-vw(15px);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.styledRadio{
	display: inline-flex;
	align-items: center;
	input{
		border-radius: 50%;
		&:checked + label:before{
			border-radius: 50%;
		}
	}
	label{
		border-radius: 50%;
	}
	+ .styledRadio{
		margin-left:get-vw($formGap * 2);
	}
}

.formErrors{
	background: red;
	text-align: center;
	color: #fff;
	margin-bottom:get-vw(30px);
	padding: get-vw(10px);
	width: get-vw(960px);
	margin-left: auto;
	margin-right: auto;
	margin-top: get-vw(30px);
	font-size: get-vw(16px);
	&__ul{
		list-style: none;
		margin: 0;
		padding:0;
	}
	&__item{
		margin-bottom:get-vw(5px);
		&:last-child{
			margin-bottom: 0;
		}
	}
	.bold{
		font-weight: 700;
		margin-bottom: get-vw(10px);
	}
	&.success{
		background: #2d9a00;
	}
	@media screen and (max-width: $medium){
		margin-bottom: 20px;
		padding: 10px;
		max-width: 600px;
		width: 100%;
		margin-top: 20px;
		font-size: 14px;
		&__item{
			margin-bottom: 5px;
		}
		.red{
			margin-bottom: 10px;
		}
	}
}
