.previewBlockFront, .waitPopup {
	position: fixed;
	max-width: get-vw(400px);
	padding: get-vw(17px) get-vw(17px);
	line-height: 1;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	bottom: 0;
	left: 0;
	background: rgba(#ff6f6f, 0.9);
	z-index: 9999;
	color: #0b2548;
	&__title {
		font-size: get-vw(16px);
		color: #fff;
		font-weight: 400;
	}
	&__link {
		margin-top: get-vw(8px);
		a {
			text-decoration: underline;
			font-weight: 300;
			color: #fff;
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}