$moduleNewsColumns: 3 !default;
$moduleNewsColumnsWidth: (100% / $moduleNewsColumns);
$newsBg: #fff !default;
$newsBorder: #eaf1f5 !default;
$newsBorderHover: #00aeff !default;
$newsDots: #00aeff !default;
$newsTitle: #004490 !default;
$newsTitleHover: #00aeff !default;
$newsText: #004490 !default;
$newsDate: #9eb2be !default;
$newsDateIcon: #00aeff !default;

.newsList{
	&__list{
		display: grid;
		grid-template-columns: repeat($moduleNewsColumns, calc((100% /#{$moduleNewsColumns}) - ((2 * 1.0416666667vw) / 3)));
		grid-column-gap:get-vw(20px);
		grid-row-gap:get-vw(20px);
	}
	&__button{
		display: flex;
		justify-content: center;
		.button{
			margin-top: get-vw(40px);
		}
	}
	@media screen and (max-width: $medium){
		&__list {
			grid-template-columns: repeat($moduleNewsColumns, calc((100% / #{$moduleNewsColumns}) - ((2 * 15px) / 3)));
			grid-column-gap: 15px;
			grid-row-gap: 15px;
		}
		&__button {
			.button {
				margin-top: 20px;
			}
		}
	}
	@media screen and (max-width: $small) {
		&__list {
			grid-template-columns: repeat(2, calc((100% / 2) - ((1 * 15px) / 2)));
		}
	}
	@media screen and (max-width: $xsmall){
		&__list {
			display: block;
		}
	}
}

.oneNews{
	padding:get-vw(45px) get-vw(15px) get-vw(15px) get-vw(45px);
	background: $newsBg;
	border:2px solid $newsBorder;
	transition:border 0.3s ease-in-out;
	will-change: border;
	&:hover{
		border-color: $newsBorderHover;
	}
	&__title{
		position: relative;
	}
	&__dots{
		position: absolute;
		bottom: get-vw(-22px);
		left: 0;
		display: flex;
	}
	&__dot{
		width: 5px;
		height: 5px;
		background: $newsDots;
		margin-right:5px;
	}
	&__tit{
		@include heightLines(18px,1.7,3,true,true);
		color: $newsTitle;
		font-weight: 700;
		margin-bottom:get-vw(40px);
		a{
			color:inherit;
			text-decoration: none;
			&:hover{
				color: $newsTitleHover;
			}
		}
	}
	&__text{
		@include heightLines(18px, 1.6, 6, true, true);
		color: $newsText;
	}
	&__bottom{
		margin-top:get-vw(15px);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left{
		flex-shrink: 0;
	}
	&__right {
		flex-shrink: 0;
	}
	&__date{
		font-size: get-vw(14px);
		color: $newsDate;
		line-height: 1;
		display: inline-flex;
		align-items: center;
		@include icon(calendar);
		&:before{
			color: $newsDateIcon;
			font-size: get-vw(18px);
			margin-right:get-vw(15px);
		}
	}
	&__link{
		
	}

	@media screen and (max-width: $medium){
		padding: 15px;

		&__dots {
			position: absolute;
			bottom: -12px;
			left: 0;
			display: flex;
		}
		&__tit {
			@include heightLines(15px, 1.7, 3, true, false);
			margin-bottom: 20px;
		}
		&__text {
			@include heightLines(14px, 1.7, 6, true, false);
		}
		&__bottom {
			margin-top: 12px;
		}
		&__date {
			font-size: 14px;
			&:before {
				font-size: 16px;
				margin-right: 12px;
			}
		}
	}
	@media screen and (max-width: $xsmall){
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
