$sidebarHeadBg:#00aeff !default;
$sidebarHeadColor:#fff !default;

$sidebarMenuBg: #f4f5f6 !default;
$sidebarLinkColor: #004490 !default;
$sidebarLinkHoverBg: #fff !default;
$sidebarLinkHoverColor: #00aeff !default;

.sidebarMenu{
	&__title{
		background: $sidebarHeadBg;
		padding: get-vw(25px) get-vw(40px);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		line-height: 1;
		text-transform: uppercase;
		color: $sidebarHeadColor;
		font-size: get-vw(24px);
		font-weight: 900;
	}
	.sidebarMenu__title + .sidebarMenu__list{
		background: $sidebarMenuBg;
		padding:get-vw(40px) get-vw(30px);
		list-style: none;
		> li {
			font-size: get-vw(18px);
			color: $sidebarLinkColor;
			font-weight: 600;
			&:last-child {
				a {
					border-bottom-width: 0;
				}
			}
			a {
				padding: get-vw(13px) get-vw(25px);
				color: inherit;
				text-decoration: none;
				display: block;
				border-bottom: 1px solid #c7d8e2;
				&.active, &:hover {
					background: $sidebarLinkHoverBg;
					color: $sidebarLinkHoverColor;
				}
			}
		}
		.sidebarMenu__list {
			list-style: none;
			padding: get-vw(20px) get-vw(30px);
			li{
				font-size: get-vw(16px);
				color: $sidebarLinkColor;
				position: relative;
				&:before{
					content:"";
					position: absolute;
					top:get-vw(10px);
					left: 0;
					width: get-vw(5px);
					height: get-vw(5px);
					border-radius: 50%;
					background: $sidebarLinkHoverColor;
				}
			}
			a {
				color: inherit;
				text-decoration: none;
				padding-left:get-vw(22px);
				&.active, &:hover {
					color: $sidebarLinkHoverColor;
				}
			}
		}
	}
}
@media screen and (max-width: $medium){
	.sidebarMenu{
		display: none;
	}
}