include ../../../_mixins
- var link = "{{route('download_getfile',['hash'=>$file->filename_hashed,str_slug($file->language[0]->title!='' ? $file->language[0]->title : $file->filename_slug).'.'.$file->ext],false)}}";

.module
	+if('$info && count($info->language)>0 && $info->language[0]->title!=""')
		.module__title {{$info->language[0]->title}}
	
	+if('$info && count($info->language)>0 && $info->language[0]->description!=""')
		.module__description {{$info->language[0]->description}}
	
	+if('count($list) == 0')
		.module__empty {{trans('front.list.empty')}}
		+else
			.downloads
				+foreach("$list as $file")
					.downloads__item.downloadItem
						.downloadItem__icon(class!="downloadItem__icon--{{$file->ext}}")
						.downloadItem__text {{$file->language[0]->title!="" ? $file->language[0]->title : $file->filename_slug.".".$file->ext}}
						a(href!=link).downloadItem__button 
							.button.button--noicon.button--smaller
								span {{trans("front.downloads.download")}}
						//{{\App\Helpers\File::showSize($file->filesize)}}
