include ../../../_mixins
	
- var className = "{{session()->get('MessageBoxMain')['type'] == 'success' ? 'success' : 'error'}}"; 
	
+if("isset($errors) && count($errors)>0")
	.formErrors
		ul.formErrors__ul
			li.bold Formularz nie został wysłany
			+foreach("$errors->all() as $error")
				li {{$error}}
	
+if("session()->has('MessageBoxMain')")
	.formErrors(class!=className)
		ul.formErrors__ul
			li {{session()->get('MessageBoxMain')['msg']}}
