include ../../../_mixins
	
- var alt = '@if($slide->language[0]->title_1!=""){{$slide->language[0]->title_1}}@endif @if($slide->language[0]->title_2!=""){{$slide->language[0]->title_2}}@endif';
- var href = '@if($slide->external!=-1) {{$slide->external==1 ? $slide->link : \\App\\Helpers\\Url::getPageUrl($slide->link,\App::getLocale())}} @endif'
- var target = '@if($slide->external!=-1) _blank @endif'
	
<!-- +if("$slides && count($slides) >0 && \\Request::segment(1)!='panel'")
	.slider.js-slider.owl-carousel
		+foreach("$slides as $key => $slide")
			+php $src="/img/slider/".$slide->id."/thumbnail.".$slide->ext;
			.slider__item(style="background-image:url({{$src}})")
				.slider__inner
					+if('$slide->language[0]->title_1!=""')
						.slider__title1 {{$slide->language[0]->title_1}}
					+if('$slide->language[0]->title_2!=""')
						.slider__title2 {{$slide->language[0]->title_2}}
					+if('$slide->language[0]->title_3!=""')
						.slider__title3 {{$slide->language[0]->title_3}}
					.slider__button
						a(target!=target, href!=href).button
							span DOWIEDZ SIĘ WIĘCEJ -->

	.slider.js-slider.owl-carousel
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner