include ../../../_mixins
	
+extends('layouts.app')
+section('head')
	meta(property!='og:url', content!='{{\Request::url()}}')
	meta(property!='og:type', content!='article')
	meta(property!='og:title', content!='{{$post->getTitle()}}')
	meta(property!='og:description', content!='How much does culture influence creative thinking?')
	+if('$post->getImage()!=""')
		meta(property!='og:image', content!="{{$post->getImage('original')}}")


+section('content')
	.innerBg
	@include('front.partial.breadcrumbs')
	h1.mainTitle {{$post->getTitle()}}
	
	.mainContainer
		.mainContainer__text
			+if('$post->getImage()!=""')
				img(src!='{{$post->getImage()}}', alt!='{{$post->getTitle()}}')
			
			{!!$post->language[0]->content!!}
		
			+foreach("$post->field as $field")
				{{$field->language[0]->pivot->name}} {{$field->pivot->value}}
		
			@include('front.page.partial.module',['modules' => $post->module])
		
			+if("count($post->tag) > 0")
				{{trans('front.post.tags')}}
				+foreach("$post->tag as $tag")
					li
						+php $routeParams = ['tagName' => $tag->language[0]->friendly_name]; if(\App\Helpers\Language::hasPrefix()) $routeParams['frontlanguage'] = \App::getLocale();
						a(href!="{{route('front_tag',$routeParams,false)}}") {{$tag->language[0]->name}}

@include('front.partial.preview.info')
