@import "mixins";

$fontFamily: 'Lato', sans-serif;
$fontSize: get-vw(14px);
$fontSizeH1: 36px;

$radius:get-vw(5px);

$cMain:#052b5f;
$cBlue:#3376cf;
$clBlue:#06c2f1;
$cWhite:#fff;
$cGray:#7588a3;
$cBorder:#334e72;
$cGrayBorder:#d0dce0;
$cTh:#dbe8ec;
$cTd:#eaf1f3;
$cGrayInput:#a7b4c6;
$cGreen:#57ac24;
$cRed:#e02172;
