@import "config";
@import "icons";

body{
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: 400;
	color:$cMain;
	*{
		outline: none;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	a{
		color: $cMain;
		&:hover{
			color: $cBlue;
		}
	}
	button{
		border:none;
	}
}

.-tac{
	text-align: center;
}
.-w100{
	width: 100%;
}

.button{
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	text-decoration: none !important;
	cursor: pointer;
	&--big{
		padding:get-vw(22px);
		font-size: get-vw(18px);
		font-weight: 700;
		border-radius: get-vw(44px);
		text-transform: uppercase;
	}
	&--small{
		padding:0 get-vw(40px);
		height:get-vw(44px);
		line-height:get-vw(44px);
		font-size: get-vw(15px);
		font-weight: 700;
		text-transform: uppercase;
		border-radius: get-vw(34px);
	}
	&--xs{
		padding:get-vw(13px) get-vw(34px);
		font-size: get-vw(15px);
		font-weight: 700;
		text-transform: uppercase;
		border-radius: get-vw(26px);
	}

	&--circle{
		width:get-vw(45px);
		height:get-vw(45px);
		border-radius: 50%;
		font-size: 0;
		text-align: center;
		&:before{
			line-height:get-vw(45px);
		}
	}

	&--blue{
		background: $cBlue;
		color: $cWhite;
		&:hover{
			background: $cMain;
			color: $cWhite;
		}
	}
	&--green{
		background: $cGreen;
		color: $cWhite;
		&:hover{
			background: darken($cGreen,5%);
			color: $cWhite;
		}
	}
	&--gray{
		background: $cGray;
		color: $cWhite;
		&:hover{
			background:#06c2f1;
			color: $cWhite;
		}
	}
	&--withIcon{
		padding-left:get-vw(20px);
		padding-right:get-vw(25px);
		//padding-top:get-vw(15px);
		//padding-bottom:get-vw(15px);
		&:before{
			color: $cWhite;
			position: relative;
			display: inline-block;
			vertical-align: sub;
			margin-right:get-vw(10px);
		}
	}
	&--iconGalka{
		@include icon(check-mark);
		&:before{
			font-size: get-vw(18px);
		}
	}
	&--iconDownload{
		@include icon(down-arrow-on-horizontal-line);
		&:before{
			vertical-align: sub;
			font-size: get-vw(19px);
		}
	}
	&--iconSample{
		@include icon(file);
		&:before{
			vertical-align: sub;
			font-size: get-vw(19px);
		}
	}
	&--iconAdd{
		@include icon(add);
		&:before{
			vertical-align: sub;
			font-size: get-vw(19px);
		}
	}
	&--iconPencil{
		@include icon(pen);
		&:before{
			vertical-align: sub;
			font-size: get-vw(18px);
		}
	}
	&--iconDel{
		@include icon(trash-bin);
		&:before{
			vertical-align: sub;
			font-size: get-vw(18px);
		}
	}
	&--iconList{
		@include icon(list);
		&:before{
			font-size: get-vw(19px);
		}
	}
	&--iconTree{
		@include icon(sitemap);
		&:before{
			font-size: get-vw(19px);
		}
	}
	&--iconEye{
		@include icon(eye);
		&:before{
			font-size: get-vw(19px);
		}
	}
	&--iconSquare{
		@include icon(square-outline);
		&:before{
			font-size: get-vw(18px);
		}
	}
	&--iconClose{
		@include icon(delete-cross);
		&:before{
			font-size: get-vw(18px);
		}
	}
	&--iconSearch{
		@include icon(search-symbol-of-a-magnifier-with-a-letter-inside);
		&:before{
			font-size: get-vw(18px);
		}
	}
	&--iconUpload {
		@include icon(down-arrow-on-horizontal-line);
		&:before {
			vertical-align: sub;
			font-size: get-vw(19px);
			transform: rotate(180deg);
			display: inline-block;
		}
	}
}

.adminLogin{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__form{
		width:get-vw(440px);
	}
	&__head{
		background: $cMain;
		padding: get-vw(33px) 0;
		text-align: center;
		border-top-left-radius:$radius;
		border-top-right-radius:$radius;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__main{
		background: $cWhite;
		border-radius: $radius;
		padding: get-vw(45px) get-vw(45px) get-vw(25px) get-vw(45px);
		margin-top:-$radius;
	}
	&__title{
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom:get-vw(30px);
	}
}

.universalForm{
	&__row{
		margin-bottom: 5px;
		position: relative;
		line-height: 1;
		&--cols2{
			display: flex;
			align-items: center;
			.universalForm{
				&__col{
					width: 49%;
				}
			}
		}
		&--between{
			justify-content: space-between;
			.universalForm{
				&__col{
					&:nth-child(2n){
						text-align: right;
					}
				}
			}
		}
		&--margin15{
			margin: get-vw(15px) 0;
		}
		&--mt35{
			margin-top:get-vw(35px);
		}
		&--mt15{
			margin-top:get-vw(15px);
		}
	}
	&__col{

	}
}

.inputBlock{
	position: relative;
	&__field{
		display: block;
		width: 100%;
		background-color: $cWhite;
		border: 1px solid $clBlue;
		border-radius: $radius;
		height: get-vw(44px);
		padding: 0 get-vw(25px);
		color: $cMain;
		font-style: italic;
		font-size: get-vw(17px);
		@include placeholder{
			opacity: 1;
			color: $cGrayInput;
		}
		+ label.error{
			position: absolute;
			top: 100%;
			left: 0;
			background: $cWhite;
			border:1px solid #e30000;
			padding: get-vw(7px) get-vw(13px);
			line-height: 1;
			margin-top: get-vw(7px);
			border-radius: get-vw(3px);
			font-weight: 400;
			font-size: get-vw(13px);
			z-index: 5;
			&:after, &:before {
				bottom: 100%;
				left: get-vw(25px);
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 7px;
				margin-left: -7px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #e30000;
				border-width: 8px;
				margin-left: -8px;
			}
		}
		&[disabled="disabled"]{
			color:#fff;
			border-color: #d1dfe3;
			@include placeholder{
				color: #fff;
			}
		}
	}
	&__checkbox{


		input[type='checkbox'],input[type='radio']{
			display: none;
		}
		label{
			font-size: get-vw(14px);
			font-weight: 400;
			user-select: none;
			cursor: pointer;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			i{
				width:get-vw(25px);
				height:get-vw(25px);
				background-color: $cWhite;
				border: 1px solid $clBlue;
				border-radius: $radius;
				display: inline-block;
				vertical-align: middle;
				margin-right:get-vw(16px);
				position: relative;
			}
			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
		input[type='checkbox']:checked, input[type='radio']:checked{
			+ label{
				i{
					@include icon(check-mark);
					&:before{
						font-size: get-vw(15px);
						color: $cBlue;
						@include center;
						z-index: 5;
					}
				}
			}
		}
		&--noMargin{
			label{
				i{
					margin-right: 0;
				}
			}
		}
	}
	&__checkboxText{
		display: flex;
		align-items: center;
	}
	&__submit{

	}
	&__link{
		text-decoration: none;
		color: $cMain;
		font-size: get-vw(14px);
		position: relative;
		&:hover{
			text-decoration: underline;
		}
	}
	&__linkArrow{
		@include icon(right_arrow);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&:before{
			font-size: get-vw(12px);
			color: $clBlue;
			margin-right:get-vw(10px);
		}
	}
	&__error{
		padding:get-vw(10px) 0;

	}
	&__textarea{
		display: block;
		width: 100%;
		background-color: $cWhite;
		border: 1px solid $clBlue;
		border-radius: $radius;
		height: get-vw(260px);
		padding: get-vw(10px) get-vw(25px);
		color: $cMain;
		font-style: italic;
		font-size: get-vw(17px);
		resize: none;
		@include placeholder{
			opacity: 1;
			color: $cMain;
		}
		+ label.error{
			position: absolute;
			top: 100%;
			left: 0;
			background: $cWhite;
			border:1px solid #e30000;
			padding: get-vw(7px) get-vw(13px);
			line-height: 1;
			margin-top: get-vw(7px);
			border-radius: get-vw(3px);
			font-weight: 400;
			font-size: get-vw(13px);
			z-index: 5;
			&:after, &:before {
				bottom: 100%;
				left: get-vw(25px);
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 7px;
				margin-left: -7px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #e30000;
				border-width: 8px;
				margin-left: -8px;
			}
		}
	}
}

.adminContainer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}

.adminSidebar{
	width:get-vw(320px);
	flex-shrink: 0;
	background: $cMain;

	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
}
.adminMain{
	flex-grow: 1;
	max-width: 100%;
	padding-left:get-vw(320px);
}
.adminWrapper{
	padding: get-vw(19px) get-vw(90px) 0 get-vw(90px);
	width: 100%;
}

.sidebar{
	padding:get-vw(50px) 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-bottom:10px solid $clBlue;
	min-height: 100%;
	&__head{
		padding:0 get-vw(45px) get-vw(40px) get-vw(45px);
	}
	&__logo{
		text-align: center;
		img{
			width:get-vw(138px);
		}
	}
	&__middle{
		flex-grow: 1;
	}
	&__avatar{
		margin:get-vw(55px) 0 get-vw(32px) 0;
		position: relative;
		@include icon(avatar);
		text-align: center;
		&:after{
			content:"";
			position: relative;
			display: inline-block;
			vertical-align: top;
			background: $clBlue;
			transform:rotate(45deg);
			width: get-vw(85px);
			height: get-vw(85px);
			border-radius: get-vw(20px);
			z-index: 2;
		}
		&:before{
			color: $cWhite;
			font-size: get-vw(45px);
			@include center;
			z-index: 3;
		}
	}
	&__user{
		color: $cWhite;
		font-size: get-vw(24px);
		line-height: 1;
		text-align: center;
		margin-bottom:get-vw(15px);
	}
	&__last{
		font-size: get-vw(14px);
		color: $cWhite;
		line-height: 1;
	}
	&__time{
		font-size: get-vw(14px);
		color: $cBlue;
		line-height: 1;
	}
	&__menu{
		max-height: 26vw;
		overflow: hidden;
		ul{

		}
		li{
			&:last-child{
				a{
					border-bottom:1px solid $cBorder;
				}
			}
		}
		a{
			display: block;
			border-top:1px solid $cBorder;
			padding: get-vw(9px) get-vw(30px) get-vw(9px) get-vw(75px);
			font-size: get-vw(20px);
			line-height: 1.2;
			text-decoration: none;
			color: $cWhite;
			position: relative;
			@include icon(right_arrow);
			&:before{
				color: $clBlue;
				position: absolute;
				left: get-vw(43px);
				top: get-vw(13px);
				font-size: get-vw(17px);
			}
			&:hover{
				color: $clBlue;
			}
			&.active{
				color: $clBlue;
				&:before{
					color: $cWhite;
				}
			}
		}
	}
	&__footer{
		text-align: center;
		padding:get-vw(30px) 0;
		span{
			font-size: get-vw(16px);
			color: $cWhite;
		}
		b{
			font-weight: 900;
			font-size: get-vw(16px);
			color: $clBlue;
		}
	}
}
.adminTopbar{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding:get-vw(23px) get-vw(90px);
	border-bottom:1px solid $cGrayBorder;
	&__left{

	}
	&__right{

	}
	&__time{
		position: relative;
		font-size: get-vw(16px);
		@include icon(time);
		padding-left:get-vw(50px);
		&:before{
			font-size: get-vw(25px);
			color: $clBlue;
			@include Vcenter;
		}
		span{

		}
		b{

		}
	}
	&__username{
		font-size: get-vw(16px);
		text-transform: capitalize;
		display: inline-block;
		vertical-align: middle;
	}
	&__settings{
		margin-left: get-vw(17px);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		&:hover{
			.adminTopbar__settingsMenu{
				display: block;
			}
		}
	}
	&__settingsIcon{
		position: relative;
		width:get-vw(45px);
		height:get-vw(45px);
		background: $clBlue;
		text-align: center;
		border-radius: 50%;
		@include icon(configuration-cogwheel-interface-symbol);
		&:before{
			@include center;
			z-index:3;
			font-size: get-vw(20px);
			color: $cWhite;
		}
	}
	&__settingsMenu{
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 4;
		padding-top: 10px;
		ul{
			width: get-vw(135px);
			box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
			border-radius: $radius;
			background: $clBlue;
			padding:get-vw(18px) get-vw(25px);
			position: relative;
			list-style: none;
			&:before{
				content:"";
				position: absolute;
				top: -6px;
				right:get-vw(15px);
				@include css-triangle($clBlue,up,6px);
			}
		}
		li{
			line-height: 1.2;
			margin-bottom: get-vw(8px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			color: $cWhite;
			text-decoration: none;
			font-size: get-vw(16px);
			text-transform: lowercase;
			&:hover{
				color: $cMain;
			}
		}
	}
	&__langs{
		display: inline-block;
		vertical-align: middle;
		margin-right:get-vw(20px);
	}
	&__langsList{
		list-style: none;
		font-size: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			width:get-vw(45px);
			height:get-vw(45px);
			background: $cWhite;
			border-radius: 50%;
			padding:get-vw(6px);
			+ li{
				margin-left: 6px;
			}
			&:hover{
				box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
			}
		}
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		img{
			padding-left: get-vw(2.5px);
			max-width: 100%;
		}
	}
}

.breadcrumbs{
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	background: $cWhite;
	list-style: none;
	margin-bottom:get-vw(27px);
	padding:get-vw(12px) get-vw(22px) get-vw(12px) get-vw(60px);
	border-radius: $radius;
	position: relative;
	@include icon(part_logo);
	font-size: 0;
	&:before{
		font-size: get-vw(20px);
		color: $clBlue;
		@include Vcenter;
		left: 22px;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		font-size: get-vw(14px);
		position: relative;
		line-height: 1.1;
		margin-right:get-vw(15px);
		+ li{
			@include icon(right_arrow);
			padding-left:get-vw(19px);
			&:before{
				font-size: get-vw(12px);
				@include Vcenter;
				color: $clBlue;
			}
		}
	}
	a{
		text-decoration: none;
	}
}

.mainTitle{
	font-size: get-vw(24px);
	flex-grow: 1;
	padding-right: get-vw(15px);
}
.chartBox{
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	background: $cWhite;
	padding:get-vw(40px);
	width: 100%;
}
#chart_div{
	width: 100%;
	height: auto;
}

.langsTable{
	padding:get-vw(30px);
	background: $cWhite;
	border-radius: $radius;
	margin-bottom:get-vw(30px);
	table{
		width: 100%;
	}
	tr{
		border-bottom:1px solid $cWhite;
		line-height: 1.1;
		width: 100%;
	}
	th{
		background: $cTh;
		padding:get-vw(20px) get-vw(30px);
		font-size: get-vw(17px);
		font-weight: 700;
		white-space: nowrap;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.fa{
			font-size: get-vw(22px);
			color: $cBlue;
			margin-left:get-vw(5px);
			vertical-align: middle;
		}
		&:nth-child(3){
			width: 23%;
		}
	}
	td{
		background: $cTd;
		padding:get-vw(12px) get-vw(30px);
		&:first-child{
			//text-transform: capitalize;
		}
		&:last-child{
			white-space: nowrap;
			width: 1%;
		}
	}
}

.resultsChanges{
	text-align: center;
	padding:get-vw(25px);
	line-height: 1;
	color: $cWhite;
	margin-bottom:get-vw(20px);
	border-radius: $radius;
	font-size: get-vw(18px);
	text-transform: uppercase;
	width: 100%;
	position: relative;
	&--success{
		background: $cGreen;
	}
	&--error{
		background: #db1620;
	}
	&--info{
		background: #e3c707;
	}
	&__item{
		display: block;
		text-align: center;
		margin-bottom: get-vw(4px);
		line-height: 1.2;
		font-size: get-vw(14px);
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.titleLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin:get-vw(65px) 0 get-vw(35px) 0;
}

.listButtons{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-shrink:0;
	padding-right:get-vw(60px);
	> .button{
		margin: 0 2px;
	}
}

.addForm{
	padding:get-vw(30px);
	box-sizing: border-box;
	background: $cWhite;
	border-radius: $radius;
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	+ .addForm{
		margin-top:get-vw(40px);
	}
	&--noPad{
		.tabsForm__col2{
			padding-left: 0;
		}
	}
	&__buttons{
		margin-bottom:get-vw(20px);
		text-align: right;
	}
	&--padBot{
		margin-bottom:get-vw(40px);
	}
}

.form2col{
	margin: 0 auto;
	&__wrapRow{
		padding:get-vw(13px) 0;
		background-color: $cTd;
		border-bottom:1px solid $cWhite;
		width: 100%;
		&:last-child{
			border-bottom: none;
		}
	}
	&__row{
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: get-vw(725px);
		margin: 0 auto;
		&--top{
			align-items: flex-start;
			.tabsForm__col10{
				padding-top:get-vw(12px);
			}
		}
	}
	&__left{
		width: get-vw(170px);
		font-size: get-vw(20px);
		font-weight: 700;
		&--wide{
			width: get-vw(250px);
			label{
				font-weight: normal;
			}
		}
	}
	&__right{
		width: get-vw(580px);
	}
}

.saveLine{
	padding:get-vw(40px) 0 get-vw(10px) 0;
	text-align: center;
}

.importForm{
	display: flex;
	width: 100%;
	justify-content: center;
	&__row{
		text-align: center;
	}
	&__logo{
		cursor: pointer;
		display: block;
		border: 2px solid $clBlue;
		width:get-vw(144px);
		height:get-vw(144px);
		border-radius: $radius;
		margin: 0 auto get-vw(30px) auto;
		@include icon(add);
		position: relative;
		&:before{
			@include center;
			color: $clBlue;
			font-size: get-vw(42px);
		}
		&:hover{
			border-color: $cBlue;
			&:before{
				color: $cBlue;
			}
		}
	}
	&__text{
		display: block;
		font-size: get-vw(20px);
	}
}

.addCategory{
	padding:get-vw(30px);
	box-sizing: border-box;
	background: $cWhite;
	border-radius: $radius;
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	&__row{
		display: flex;
		justify-content: space-between;
	}
	&__left,&__right{
		background: #eaf1f3;
		padding:get-vw(15px);
		//border-radius: $radius;
		flex-shrink: 0;
	}
	&__left{
		width:get-vw(745px);
	}
	&__right{
		width:get-vw(575px);
		padding:get-vw(25px);
	}
	.tabsForm__input{
		margin-left: 0;
	}
}

.tabs{
	display: flex;
	list-style: none;
	border-bottom:1px solid #7588a3;
	width: 100%;
	margin-bottom:get-vw(20px);
	li{
		background: #eaf1f3;
		border-top-right-radius:$radius;
		border-top-left-radius:$radius;
		font-size: get-vw(16px);
		text-transform: uppercase;
		line-height: 1;
		&:hover,&.active{
			background: #7588a3;
			a{
				color: $cWhite;
			}
		}
		+li {
			margin-left:get-vw(10px);
		}
	}
	a{
		display: block;
		padding:get-vw(21px) get-vw(30px);
		color: $cMain;
		text-decoration: none;
	}
}

.croppie-container .cr-viewport{
	box-shadow: 0 0 2000px 2000px rgba(#052b5f,0.5) !important;
}

.selectLangs{
	width:get-vw(60px);
	margin-right:get-vw(10px);
}

.tabsForm{
	&__row{
		display: flex;
		justify-content: space-between;
		border-bottom:1px solid $cWhite;
		padding:get-vw(12px) 0;
		&:last-child{
			border-bottom:none;
		}
		&:first-child{
			padding-top: 0;
		}
		&--wrap{
			flex-wrap: wrap;
		}
		&--start{
			align-items: flex-start;
		}
		&--center{
			justify-content: center;
		}
	}
	&__col2{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width:get-vw(205px);
		padding-left:get-vw(20px);
		flex-shrink: 0;
	}
	&__col3{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width:get-vw(265px);
		padding-left: get-vw(20px);
	}
	&__col6{
		width: 48%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&:first-child{
			padding-left:get-vw(20px);
		}
	}
	&__col9{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width:get-vw(440px);
	}
	&__col10{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width:get-vw(510px);
	}
	&__input{
		flex-grow: 1;
		margin-left:get-vw(10px);
	}
	&__innerRow{
		display: flex;
		margin-bottom: 0;
	}
	&__label{
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: get-vw(44px);
		align-content: center;
		&--small{
			font-size: get-vw(16px);
		}
	}
	&--vcenter{
		align-self: center;
	}
	&--pl40{
		padding-left: get-vw(40px);
	}
	&__titles{
		font-size: get-vw(20px);
		font-weight: 700;
		background: #dbe8ec;
		line-height: 1;
		padding: 0;
		.modules{
			&__col{
				padding:get-vw(24px) 0;
			}
		}
	}
}

.imgPreview{
	&__name{
		text-align: center;
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: 1;
		margin-bottom:get-vw(40px);
	}
	&__block{

	}
}

.thumbnailStatus{
	display: flex;
	align-items: center;
	//padding-bottom:get-vw(40px);
	margin-bottom:get-vw(15px);
	//padding-left:get-vw(20px);
	position: relative;
	margin-top: get-vw(-15px);
	padding-top:get-vw(10px);
	justify-content: center;
	&__name{
		font-size:get-vw(20px);
		font-weight: 700;
		margin-right:get-vw(35px);
	}
	//&:after{
	//	position: absolute;
	//	height:get-vw(20px);
	//	background: $cWhite;
	//	width: calc(100% + 2.60416667vw);
	//	left: 0;
	//	bottom: 0;
	//	content: '';
	//	margin-left:get-vw(-25px);
	//}
	&--without{
		margin: 0;
		padding: 0;

		margin-top:get-vw(10px);
		&:after{
			display: none;
		}
	}
}

.modules{
	padding:get-vw(11px) 0;
	border-bottom:1px solid $cWhite;
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: get-vw(16px);
	}
	&__col{
		&--w210{
			width:get-vw(210px);
		}
		&--w170{
			width:get-vw(170px);
		}
		&--w95{
			width:get-vw(148px);
			text-align: right;
		}
		&--w90{
			width:get-vw(90px);
		}
		&:nth-child(3){
			line-height: 1;
		}
		&:nth-child(4){
			.button--circle{
				margin: 0 get-vw(1px);
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	&__block{
		position: relative;
		padding-bottom:get-vw(32px);
		border:none;
		&:after{
			position: absolute;
			height:get-vw(20px);
			background: $cWhite;
			width: calc(100% + 1.5625vw);
			left: 0;
			bottom: 0;
			content: '';
			margin-left:get-vw(-15px);
		}
	}
}

.countField,.badge{
	background: $cGray;
	border-radius: $radius;
	font-size: get-vw(16px);
	font-weight: 400;
	padding:get-vw(7px) get-vw(11px);
	line-height: 1;
}

.fullWidth{
	margin-left:get-vw(-15px);
	width:calc(100% + 1.5625vw);
	.tabsForm{
		&__row{
			padding-left:get-vw(50px);
			padding-right:get-vw(15px);
		}
	}
	.modules{
		padding-left:get-vw(50px);
		padding-right:get-vw(15px);
	}
}

.addPost{
	max-width: 880px;
	margin: 0 auto;
	.tabsForm__col2{
		padding: 0;
	}
	.tabsForm__row{
		align-items: center;
	}
}

.addToGallery{
	padding-top:get-vw(40px);
	&__list{
		>div{
			width: 100%;
		}
	}
	.tab-content{
		width: 100%;
	}
}


.popupBlock{
	&__row{
		border-bottom:1px solid $cWhite;
		padding-left: get-vw(50px);
		padding-right:get-vw(15px);
		display: flex;
		justify-content: space-between;
		padding-top:get-vw(21px);
		padding-bottom:get-vw(25px);
		&:last-of-type:not(.hidden){
			border: none;
		}
	}
	&__col1{
		font-size: get-vw(20px);
		line-height: 1;
		font-weight: 700;
	}
	&__col2{
		width:get-vw(440px);
	}
	.inputBlock__checkbox{
		margin-bottom:get-vw(20px);
		cursor: auto;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.inputBlock__field{
		margin-top:get-vw(15px);
	}
	.inputBlock__checkboxText{
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		span,i{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.js-select2{
		+ span{
			margin-bottom:get-vw(15px);
		}
	}
	&__col50{
		width: 45%;
		position: relative;
		label{
			font-size: get-vw(16px);
		}
		.inputBlock__field{
			margin-top:get-vw(5px);
		}
	}
}

#popupForm{
	.imgPreview{
		&__name{
			margin-bottom: 0;
			a{
				color: $cMain;
				text-decoration: none;
				&:hover{
					text-decoration: none;
					color: $cBlue;
				}
			}
		}
		.panel-body{
			padding-bottom:get-vw(25px);
		}
	}
}

.previewBlock{
	&__name{
		text-align: center;
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: 1;
		margin-bottom:get-vw(20px);
	}
	&__checkbox{
		margin-top:get-vw(20px);
		.tabsForm__row{
			justify-content: center;
		}
	}
}

.hidden{
	&.js-select2{
		display: block;
		+ span{
			display: none;
		}
	}
}

.sliderBlock{
	padding:get-vw(30px);
	background: $cWhite;
	border-radius: $radius;
	margin-bottom:get-vw(40px);
	&__inner{
		background: #eaf1f3;
		border-radius: $radius;
	}
	&__row{
		border-bottom:1px solid $cWhite;
		&--flex{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: get-vw(25px) get-vw(30px) get-vw(30px) get-vw(30px);
		}
	}
	&__preview{
		padding:get-vw(25px) get-vw(50px);
	}
	&__col50{
		width: 48%;
	}

	&__previewName{
		font-size: get-vw(20px);
	}

	.inputBlock__checkboxText span, .inputBlock__checkboxText i{
		display: inline-block;
		vertical-align: middle;
	}
	&__innerRow{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom:get-vw(20px);
		&:last-child{
			margin-bottom: 0;
		}
		&--top{
			align-items: flex-start;
			.sliderBlock__col10{
				padding-top:get-vw(12px);
			}
		}
	}
	&__col2{
		width:get-vw(165px);
	}
	&__col3{
		width:get-vw(275px);
		padding-left:get-vw(20px);
	}
	&__col10{
		width:get-vw(435px);
	}
	&__col9{
		width:get-vw(343px);
	}
	&__check{
		margin-bottom:get-vw(19px);
		&:last-child{
			margin-bottom: 0;
		}
		input,.select2{
			margin-top:get-vw(19px);
		}
	}
}

.sliderList{
	&__todo{
		margin-top:get-vw(-20px);
		margin-bottom:get-vw(25px);
		padding:get-vw(13px) get-vw(15px) get-vw(13px) get-vw(53px);
		background: #eaf1f3;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		white-space: nowrap;
		.js-select2 + .select2-container, .selectLangs select + .select2-container{
			width: get-vw(240px) !important;
			margin-left:get-vw(95px);
			margin-right:get-vw(65px);
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height:get-vw(47px) !important;
		}
		.select2-container--default .select2-selection--single{
			height:get-vw(47px) !important;
		}
	}
}

.userBlock{
	margin-bottom:get-vw(50px);
	padding:get-vw(30px);
	background: $cWhite;
	border-radius: $radius;
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	&__inner{
		background: #eaf1f3;
	}
	&__line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #dbe8ec;
		padding:get-vw(13px) get-vw(15px) get-vw(13px) get-vw(50px);
		border-bottom:1px solid $cWhite;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		padding:get-vw(18px) get-vw(18px) get-vw(18px) get-vw(50px);
	}
	&__left,&__right{
		width: 48%;
	}
	&__right{
		&--flex{
			display: flex;
			.previ{
				flex-grow: 1;
			}
			.hiddenPodPrev{
				flex-shrink: 0;
				&:not(.hidden){
					width:get-vw(300px);
					padding: get-vw(40px) get-vw(50px);
					background: $cTh;
				}
				.inputBlock__checkboxText{
					display: inline-flex;
					white-space: normal;
					i{
						flex-shrink: 0;
						align-self: flex-start;
					}
					span{
						line-height: 1.2;
					}
				}
			}
		}
	}
	&__title{
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: 1.2;
	}
	&__check{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item{
		display: flex;
		align-items: center;
		//justify-content: space-between;
		margin-bottom:get-vw(15px);
		position: relative;
	}
	&__namecol{
		width:get-vw(235px);
		flex-shrink: 0;
	}
	&__inputcol{
		flex-grow: 1;
		.tabsForm__input{
			margin-left: 0;
		}
	}
}

.settings{
	background: $cWhite;
	border-radius: $radius;
	padding: get-vw(30px);
	margin-bottom:get-vw(40px);
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
	&__inner{

	}
	&__gray{
		background: #eaf1f3;
		padding:get-vw(13px);
	}
}

.contactTab{
	&__row{
		display: flex;
		justify-content: space-between;
		padding:get-vw(10px) 0 get-vw(10px) get-vw(37px);
		position: relative;
		&--title{
			align-items: center;
			background: #dbe8ec;
			padding:get-vw(13px) get-vw(13px) get-vw(13px) get-vw(50px);
			margin:get-vw(-13px) get-vw(-13px) get-vw(13px) get-vw(-13px);
			border-bottom:1px solid $cWhite;
		}
		&--Vcenter{
			align-items: center;
			padding: 0;
		}
		&--notMargin{
			padding: 0;
		}
		&--form{
			align-items: center;
			margin-bottom:get-vw(15px);
			padding: 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&--line{
			&:after{
				content:"-";
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: get-vw(17px);
				font-style: italic;
				line-height: 1;
				transform: translate(-50%,-50%);
			}
		}
	}
	&__col{
		width: 49%;
	}
	&__name{
		font-size: get-vw(20px);
		font-weight: 700;
		line-height: 1;
	}
	&__col4{
		width:get-vw(233px);
		flex-shrink: 0;
		padding-right: 10px;
	}
	&__col8{
		flex-grow: 1;
	}
	&__inp{
		width: get-vw(260px);
		.tabsForm__innerRow{
			width: auto !important;
		}
	}
	&__time{
		width: get-vw(220px);
		margin: 0 get-vw(15px);
	}
	&__del{
		width: get-vw(45px);
		position: relative;
		.button{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
	&__checkOpen{
		line-height:get-vw(44px);
		margin-bottom:get-vw(15px);
	}
	&__colTime{
		width: get-vw(100px);
		position: relative;
	}
}

.mypopup{
	&__content{
		background-color: $cWhite;
		border: 3px solid $clBlue;
		border-radius: $radius;
		width:get-vw(640px);
		padding:get-vw(30px);
	}
	&__body{
		font-size: get-vw(20px);
		font-weight: 400;
		line-height: 1.25;
		text-align: center;
		margin-bottom:get-vw(30px);
	}
	&__footer{
		text-align: center;
	}
}

.otherTab{
	.inputBlock__checkbox{
		line-height:get-vw(44px);
	}
}

.imagesTab{
	.panel-default > .panel-heading{
		background: $cWhite;
		color: $cMain;
	}
	.panel-body{
		background: #f5f8fa;
	}
	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: get-vw(15px);
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.youtubePreview{
	text-align: center;
	margin-bottom: get-vw(20px);
	img{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		height: auto;
	}
}

.youtubePreviewName{
	text-align: center;
	margin-bottom:get-vw(20px);
	font-size: get-vw(18px);
	font-weight: 700;
}

.openPodMenu{
	cursor: pointer;
	margin-left: 10px;
	width:get-vw(25px);
	height:get-vw(25px);
	color: $cWhite;
	text-align: center;
	background: $cGreen;
	border-radius: 50%;
	font-size: get-vw(24px);
	font-style: normal;
	position: relative;
	&:before{
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		line-height: 1;
		font-weight: 700;
		width: get-vw(25px);
		height: get-vw(25px);
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAmVBMVEVXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCSOx2zw+Otcryv4/Pb///9rtj5gsTBtt0F/wFhdryyOx2uNx2rt9uft9uju9+nirMfuAAAAI3RSTlMADFeYyOn4JJv0CIj5iSPPMujqCdDR+pwNmuv1JYoK9liZyeT+oW0AAAABYktHRCi9sLWyAAAACXBIWXMAAAsSAAALEgHS3X78AAABBElEQVQ4y42TWaKCMAxFA6IMTxxQCiqOAanz0/0vTpACLWDr+UqTS1KaBKBC03tGfzDoGz1dgzamZWOFbZmNsPM3RIGh6/Dx0RhbjLkkkyl2MJ1U5T3sxGM5ZnP8gj/7CFzOFSdJzB3dzwVJ7TimlKbH+kzyIhb3xYlmnDhHABDaMoEdgo4yAeqwkAsWYDDrfMm45oJrbt2Y24BlYdxTKpA+Cv8SWJP+aYOENa0UPJuCZylgJeJmiXtZQnlJ5W8qH0r+1KsQIFA0C0xZu6PWwLxe/MCsi5Hz8Qv+5rehVY99lqOjii9sn+MSMUzE1cuIrFUd3gZRx35ru/3BI8Q77Hfc+r8BdgZvTInSBaEAAAAASUVORK5CYII=');
		background-size: contain;
	}
	&.is-opened{
		&:before{
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEVXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRXrCRgsTBtt0FdryyOx2v4/Pb///+Nx2rt9ufw+Ovt9uiOx2wDr86BAAAAI3RSTlMADFeYyOn4JJv0CIj5iSPPMujqCdDR+pwNmuv1JYoK9liZyeT+oW0AAAABYktHRCnKt4UkAAAACXBIWXMAAAsSAAALEgHS3X78AAAA50lEQVQ4y42T5xaCMAyFw5IhyFDKEBdxK77/44lQkFZo/X71JPfktk0C0KOomm7MZoauqQr8Ylo29tiWyaWduYsMrucM8wsff/AHRYIQRwiD3j7CUSJaY7nCCeJlI/BwEq+5IJkWkI+JhQISgNQWCewUVBSiQiYWZKDT0/HEcKZhHfL2cLneGK73Np4DbdLjxvFs424nqHhB1QmoxYu3uHQW0ktKnyn9KPFXr1OARNIsMEXtLiQDs2lHLp7Kx9v/hlY+9nWNEZeY2T7H495C2NWrKaz1N71LipH9VvaHMiIkKg/7wfq/Acz+bXlIRJqCAAAAAElFTkSuQmCC);
		}
	}
}

.newsBlock{
	&__inner{
		padding:get-vw(30px);
		border-radius: $radius;
		background: $cWhite;
	}
	&__wrap{
		background: #eaf1f3;
		padding: get-vw(15px);
	}
	&__row{
		display: flex;
		justify-content: space-between;
		&--margin{
			margin-bottom:get-vw(15px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__col50{
		width: 49%;
		&--Vcenter{
			align-self: center;
		}
	}
	.panel-default > .panel-heading{
		background: $cWhite;
		color: $cMain;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:get-vw(61px);
	}
	.panel-body{
		background: #f5f8fa;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom:get-vw(20px);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__col1{
		width: 200px;
	}
	&__col2{
		flex-grow: 1;
	}
	&__col3{
		flex-shrink: 0;
		width: get-vw(45px);
		margin-left:get-vw(25px);
		position: relative;
		.button{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
}

.datetime{
	margin-bottom:get-vw(10px);
	margin-top:get-vw(10px);
}

.downloadTable{
	background: $cWhite;
	border-radius: $radius;
	position: relative;
	table{
		width: 100%;
	}
	tr{
		border-bottom:1px solid $cWhite;
		line-height: 1.1;
		width: 100%;
	}
	th{
		background: $cTh;
		padding:get-vw(20px) get-vw(30px);
		font-size: get-vw(17px);
		font-weight: 700;
		white-space: nowrap;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.fa{
			font-size: get-vw(22px);
			color: $cBlue;
			margin-left:get-vw(5px);
			vertical-align: middle;
		}
		&:nth-child(2){
			width: 23%;
			padding-left: 1%;
			padding-right: 2%;
		}
	}
	td{
		background: $cTd;
		padding:get-vw(12px) get-vw(30px);
		font-size: get-vw(16px);
		vertical-align: middle !important;
		&:nth-child(2){
			line-height: 1.2;
			padding-left: 1%;
			padding-right: 2%;
		}
		&:last-child,&:first-child{
			white-space: nowrap;
			width: 1%;
		}
	}
	&__name{
		margin:get-vw(7px) 0;
		line-height: 1.2;
	}
	.table{
		margin: 0;
	}
	&__buttons{
		text-align: right;
		margin:get-vw(20px) 0;
	}
}


.videoTable{
	background: $cWhite;
	border-radius: $radius;
	position: relative;
	table{
		width: 100%;
	}
	tr{
		border-bottom:1px solid $cWhite;
		line-height: 1.1;
		width: 100%;
	}
	th{
		background: $cTh;
		padding:get-vw(20px) get-vw(30px);
		font-size: get-vw(17px);
		font-weight: 700;
		white-space: nowrap;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.fa{
			font-size: get-vw(22px);
			color: $cBlue;
			margin-left:get-vw(5px);
			vertical-align: middle;
		}
		&:nth-child(3){
			width: 23%;
			padding-left: 1%;
			padding-right: 2%;
		}
	}
	td{
		background: $cTd;
		padding:get-vw(12px) get-vw(30px);
		font-size: get-vw(16px);
		&:nth-child(3){
			line-height: 1.2;
		}
		&:last-child,&:first-child,&:nth-child(2){
			white-space: nowrap;
			width: 1%;
		}
	}
	&__name{
		margin:get-vw(7px) 0;
		line-height: 1.2;
	}
	.table{
		margin: 0;
	}
	&__buttons{
		text-align: right;
		margin:get-vw(20px) 0;
	}
	img{
		width: 200px;
		height: auto;
	}
}

.addOnePhoto{
	[data-thumbnail-container]{
		margin-top:get-vw(30px);
	}
}

.grayBg{
	width: 100%;
	background: #eaf1f3;
	padding:get-vw(13px);
}

.photoGalleryList{

}

.blockerBlock{
	position: relative;
}

#galleryvideoForm{
	img[data-galleryvideo-preview]{
		width: 320px;
		height: 180px;
	}
}


.searchBlock{
	display: flex;
	width: 100%;
	justify-content: space-between;
	&__select{
		width: get-vw(270px)
	}
	&__input{
		width:get-vw(280px);
	}
}

.universalTable{
	background: $cWhite;
	border-radius: $radius;
	position: relative;
	table{
		width: 100%;
	}
	tr{
		border-bottom:1px solid $cWhite;
		line-height: 1.1;
		width: 100%;
	}
	th{
		background: $cTh;
		padding:get-vw(20px) get-vw(30px);
		font-size: get-vw(17px);
		font-weight: 700;
		white-space: nowrap;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.fa{
			font-size: get-vw(22px);
			color: $cBlue;
			vertical-align: middle;
			margin-right:get-vw(5px);
		}

	}
	td{
		background: $cTd;
		padding:get-vw(12px) get-vw(30px);
		font-size: get-vw(16px);
	}
	&__name{
		margin:get-vw(7px) 0;
		line-height: 1.2;
	}
	.table{
		margin: 0;
	}
	&__buttons{
		text-align: right;
		margin:get-vw(20px) 0;
	}

	&--firstCheck{
		th{
			&:first-child{
				width: 1%;
				padding-right: 2%;
			}
		}
	}
}

.menuBlock{
	&__flex{
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
	}
	&__col50{
		width: 49%;
		padding: 0 get-vw(16px);
		background: #eaf1f3;
	}
}

.is_draft{
	td{
		background: rgba(#f9c0d3,0.5);
	}
}

[data-thumbnail-container]{
	position: relative;
}

#thumbnail_original-error{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: $cWhite;
	border:1px solid #e30000;
	padding: get-vw(7px) get-vw(13px);
	line-height: 1;
	margin-top: get-vw(7px);
	border-radius: get-vw(3px);
	font-weight: 400;
	font-size: get-vw(13px);
	z-index: 5;
	&:after, &:before {
		bottom: 100%;
		left: get-vw(25px);
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 7px;
		margin-left: -7px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: #e30000;
		border-width: 8px;
		margin-left: -8px;
	}
}

//new

.dashboard{

}
.flexRow{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom:get-vw(30px);
	&:last-child{
		margin-bottom: 0;
	}
	>div{
		flex-shrink: 0;
		&.col1{
			width: 31%;
		}
		&.col2{
			width: 65.6%;
		}
		&.col3{
			width: 100%;
		}
	}
}
.dashboardBlocks{
	&__inner{
		box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
		background: #fff;
		border-radius: $radius;
		padding:get-vw(23px);
		height:calc(100% - 2.8125vw);
		position: relative;
	}
	&__line{
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding-right:get-vw(20px);
		margin-bottom:get-vw(30px);
		.dashboardTitle{
			margin-bottom: 0;
		}
	}
	&__count{
		font-size: get-vw(18px);
		b{
			font-weight: 700;
		}
	}
}

.dashboardTitle{
	font-size: get-vw(24px);
	font-weight: 400;
	color: $cMain;
	line-height: 1;
	margin-bottom:get-vw(30px);
	height:get-vw(26px);
	overflow: hidden;
	b,strong{
		font-weight: 700;
	}
}


.popularDevices{
	&__device{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom:1px solid #d0dce0;
		padding-bottom: get-vw(7px);
		margin-bottom:get-vw(7px);
		&:last-child{
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	&__icon{
		line-height: 1;
		&:before{
			font-size: get-vw(58px);
		}
		&--desktop{
			color: $cMain;
			@include icon(computer);
		}
		&--tablet{
			color: $cRed;
			@include icon(ipad);
			font-size: get-vw(53px);
		}
		&--mobile{
			color: $cBlue;
			@include icon(iphone);
			font-size: get-vw(54px);
		}
	}
	&__name{
		flex-grow: 1;
		padding: 0 get-vw(30px);
		font-size: get-vw(16px);
		font-weight: 400;
		line-height: 1;
	}
	&__percent{
		width:get-vw(65px);
		height:get-vw(65px);
		font-size: get-vw(18px);
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $cMain;
		border: get-vw(6px) solid #eaf1f3;
		border-radius: 50%;
		line-height: 1;
	}
}

.popularPages{
	&__inner{

	}
	&__item{
		height:get-vw(35px);
		display: flex;
		align-items: center;
		line-height: 1;
		background-color: #eaf1f3;
		font-size: get-vw(16px);
		font-weight: 400;
		padding: 0 get-vw(10px);
		text-decoration: none;
		color: $cMain;
		margin-bottom: 1px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.usersOnline{
	&__inner{
		text-align: center;
	}
	&__circle{
		width:get-vw(120px);
		height:get-vw(120px);
		font-size: get-vw(60px);
		font-weight: 700;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: $cMain;
		border: get-vw(10px) solid #eaf1f3;
		border-radius: 50%;
		line-height: 1;
	}
	&__desc{
		margin-top:get-vw(24px);
		font-size: get-vw(16px);
		font-weight: 400;
	}
	&__button{
		margin-top:get-vw(12px);
	}
}

.citiesBlock{
	&__inner{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	img{
		max-width: 100%;
	}
}
//\new


//tooltip
.popupTooltip{
	width: get-vw(30px);
	height: get-vw(30px);
	background-color: white;
	border: 1px solid #dbe8ec;
	border-radius: 50%;
	position: relative;
	font-size: get-vw(13px);
	margin-left:get-vw(40px);
	&:before{
		content:"?";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #052b5f;
		font-size: get-vw(13px);
		font-weight: 400;
	}
}

.tippy-popper{
	.tippy-tooltip {
		padding: get-vw(20px);
		font-size: 13px;
		border-radius: get-vw(4px);
		background: $cWhite;
		color: #052b5f;
		box-shadow: 0 0 8px rgba(102, 132, 141, 0.3);
	}
	.tippy-content{
		text-align: left;
		line-height: 1.25;
	}
	&[x-placement^=top] .tippy-arrow{
		border-top-color: $cWhite !important;
	}
}



.owl-nav{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	align-items: center;
	height:get-vw(26px);
	left: 0;
	bottom: get-vw(-26px);
	width: 100%;
}
.owl-prev,.owl-next{
	font-size: 0;
	@include icon(triangular-filled-up-arrow);
	&:before{
		font-size: get-vw(17px);
		color: $cBlue;
	}
	&:hover{
		&:before{
			color: $cRed;
		}
	}
	&.disabled{
		opacity: 0.35;
	}
}
.owl-next{
	transform:rotate(180deg);
	margin-left: 5px;
}

//pickdate
.intimidatetime{
	top: 100% !important;
	box-shadow: 2.5px 4.3px 5px rgba(192, 208, 213, 0.2);
}
.intimidatetime .intimidatetime-unit-select{
	span{
		font-weight: 400;
	}
	select{
		font-weight: 400;
	}
}
.intimidatetime-mode-basic .intimidatetime-range .intimidatetime-preview{
	padding-bottom: 0 !important;
	font-weight: 700;
}
.intimidatetime .intimidatetime-unit-select{
	&:last-child{
		padding-right: 0 !important;
	}
}
//bootstrap panel
.panel{
	margin: 0;
	background: none;
	border:none;
	box-shadow: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
	border:none;
}

.panel-default > .panel-heading{
	background: none;
	border:none;
	text-align: center;
	a{
		font-size: get-vw(20px);
		font-weight: 700;
		color: $cMain;
		text-decoration: none !important;
		&:hover{
			text-decoration: none;
			color: $cBlue;
		}
	}
}
.panel-group .panel + .panel{
	margin-top: 0;
	border-top:1px solid $cWhite;
}

//cropie
.cr-slider-wrap{
	margin:get-vw(30px) auto !important;
	max-width: 500px;
}

//select2
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
	border-color:$clBlue !important;
	border-radius: $radius !important;
	height:get-vw(44px) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--multiple .select2-selection__rendered{
	line-height:get-vw(42px) !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--multiple .select2-selection__arrow{
	height: 100% !important;
	right: 6px !important;
	top: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--multiple .select2-selection__arrow b{
	border:none !important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAMAAAD+zz7+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEUGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvH///9yOjJmAAAAHHRSTlMAgyeFZ+UpKGhk5yph5i0sYl8vW+gxMFxZ6lVWprv5QwAAAAFiS0dEHJwEQQcAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABJSURBVAjXY2BkYoADJmYGFlY2GI+dlYOBgZOLG8Lj5uIEUTy8fCCKn1cAIizIJcTAIMQlCNMkLCIqJiKOMFJCUlKCAQlISUNoAGktAinIDI5AAAAAAElFTkSuQmCC) 50% 50% no-repeat;
	width: 14px !important;
	height: 8px !important;
	margin: 0 !important;
	transform: translate(-50%,-50%);
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--multiple .select2-selection__arrow b{
	transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container .select2-selection--single .select2-selection__rendered, .select2-container .select2-selection--multiple .select2-selection__rendered{
	padding-right: 31px !important;
	color: $cMain;
	font-style: italic;
	font-size: get-vw(17px);
}
.select2-container .select2-selection--single.withoutFlags .select2-selection__rendered{
	padding-left:get-vw(25px);
	padding-right: 38px !important;
}
.select2-container--default .select2-selection--single.withoutFlags .select2-selection__arrow b{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAANCAMAAAB1uQVvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEUGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvEGwvH///8KOfnpAAAAL3RSTlMAT6QDULCmpQi5nwK6Cr+cAcKWlcMOxpAPyoyLyxHOhRTSgH8V1XoY2LTZHNsdvquMMCEAAAABYktHRDCu3C3kAAAACXBIWXMAAAsSAAALEgHS3X78AAAAjElEQVQY022P5xKCQBCDIyeK4AEWioWmFBUw7/92doHT/Nlvk5mdLEaagCqhjaFzogZiSh3GjKY1sC2TcwOQNh23Z7sObfkAueCyC9wV1/KFns/g6wf0vQ+HG27fuOM+7G5GMZMnJIyjfoc04+E+jszyYee8YImShWID1YlnXqqf31E3bGr8UXttu+UGw20Kyd3098YAAAAASUVORK5CYII=) !important;
	width: get-vw(23px) !important;
	height: get-vw(13px) !important;
	background-size: contain;
}
.select2-container--default .select2-selection--single.withoutFlags .select2-selection__arrow{
	width: 30px !important;
}
.js-select2, .selectLangs select{
	+ .select2-container{
		width: 100% !important;
	}
}
.js-select2 + .select2-container .select2-selection--single.withoutFlags .select2-selection__rendered{
	color: $cMain;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
	line-height:get-vw(30px) !important;
	margin: 0 !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered{
	padding: 0 get-vw(20px) !important;
}
.select2-container--default .select2-selection--multiple{
	height: auto !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	display: inline !important;
	vertical-align: middle;
}

.select2-dropdownMaxHeight ul.select2-results__options{
	max-height: get-vw(380px) !important;
}

.select2-results__option{
	padding:get-vw(6px);
}

.select{
	&--w240 {
		+ .select2-container, .selectLangs select + .select2-container + span{
			width:get-vw(240px) !important;
		}
	}
}


.alert{
	width: auto !important;
	max-width: 35%;
	padding: get-vw(10px) get-vw(20px);
	min-width: get-vw(350px);
	font-size: 14px;
	ul{
		padding-left: 30px;
		margin-top: 2px;
	}
	li{
		line-height: 1.2;
		margin-bottom: 2px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.close{
		opacity: 0.4;
		&:hover{
			opacity: 0.7;
		}
	}
	[data-notify="message"]{
		padding-right: get-vw(20px);
		display: block;
	}
}

@media screen and (max-width: 1900px) {
	.selectLangs{
		.select2-selection__arrow{
			display: none !important;
		}
		.select2-container .select2-selection--single .select2-selection__rendered{
			padding-right: 9px !important;
			width: 100%;
			img{
				max-width: 100%;
			}
		}
		select + .select2-container{
			width: 40px !important;
		}
	}
}


//modal
.modal-dialog{
	width:get-vw(640px);
	margin:0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) !important;
}
.modal-backdrop{
	background-color: rgba(#eaf1f3,0.85);
}

//dodaj

.form2col .uploadifive-button, .addToGallery .uploadifive-button{
	border:none;
	line-height: get-vw(34px) !important;
	display: inline-block;
	vertical-align: top;
	text-decoration: none !important;
	cursor: pointer !important;

	//padding:get-vw(17px) get-vw(40px);
	font-size: get-vw(15px);
	font-weight: 700;
	text-transform: uppercase;
	border-radius: get-vw(34px);
	height:get-vw(34px) !important;
	width:get-vw(150px) !important;

	text-shadow: none !important;

	background: $cGreen;
	color: $cWhite;
	&:hover{
		background: darken($cGreen,5%);
		color: $cWhite;
	}


}

//fancytree

.addForm {
	ul.fancytree-container {
		border: none;
		background: #eaf1f3;
		padding: get-vw(15px);
	}
	span.fancytree-node{
		min-height: 32px;
		display: flex;
		align-items: center;
	}
	.fancytree-plain span.fancytree-node.fancytree-active{
		border-color: $clBlue;
	}
}

//sass slide radio
$color_checkbox_success: $cGreen;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: get-vw(86px);
$height: get-vw(40px);
.toggle {
	.toggle-control {
		transition: $transition;
		width: $width;
		height: $height;
		display: block;
		border-radius: $height;
		background-color: $cGrayInput;
		position: relative;
		cursor: pointer;
		&:after {
			transition: $transition;
			content: "";
			width: get-vw(30px);
			height: get-vw(30px);
			display: block;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: get-vw(6px);
			transform: translate(0, -50%);
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			&:before, &:after {
				@include Vcenter;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: get-vw(15px);
				font-weight: 400;
				transition: opacity 0.4s ease-in-out;
				z-index: 5;
				will-change: opacity;
			}
			&:before {
				content: attr(data-before);
				left: 0;
				top: 50%;
				padding-right: get-vw(40px);
				padding-left: get-vw(7px);
				opacity: 0;
			}
			&:after {
				content: attr(data-after);
				right: 0;
				left: auto;
				padding-left: get-vw(40px);
				padding-right: get-vw(7px);
			}
		}
	}
	input {
		display: none;
		&:checked + .toggle-control {
			border-color: $color_checkbox_success;
			background-color: $color_checkbox_success;
			&:after {
				left: calc(100% - 0.3125vw);
				transform: translate(-100%, -50%);
			}
			span {
				&:after {
					opacity: 0;
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}


//////

.animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.animated.infinite {
	animation-iteration-count: infinite
}
.animated.hinge {
	animation-duration: 2s
}
@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

#menuTree{
	span.fancytree-icon{
		width:get-vw(16px);
		height:get-vw(20px);
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAUVBMVEUzds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds8zds////9+BmOmAAAAGXRSTlMA0NIcaYuFf3pzOIjbu6r77kiQRMc1NtbPXuvSXQAAAAFiS0dEGnVn5DIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABiSURBVBjTdc7rDoAgCEBh7F5WplnG+79oCyZLWuef3wYCBqkKauAwQ9NqwE4D9hpw0IDjCyb7VGeYAcpvcVk5gRyB2ygn4HnaC4SdCgKfHZFOsFHg4B2nQOIT0v+OAq7ybW6LKBbe7w9yuwAAAABJRU5ErkJggg==) 0 0 no-repeat;
	background-size: contain;
		margin-left: 0;
		margin-right:get-vw(5px);
	}
}

.titleButtonsFlex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:get-vw(35px);
}

.titleButtonsFlex{
	+ .resultsChanges{
		display: none;
	}
}

.js-closeResult{
	position: absolute;
	top: get-vw(8px);
	right:get-vw(8px);
	@include icon(delete-cross);
	font-size: get-vw(16px);
	color: #fff;
	cursor: pointer;
	&:hover{
		opacity: 0.85;
	}
}

.photogalFix{
	.tabsForm__input{
		margin-left: 0;
	}
}

.previewBlockFront, .waitPopup {
	position: fixed;
	max-width: get-vw(400px);
	padding: get-vw(17px) get-vw(17px);
	line-height: 1;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	bottom: 0;
	left: 0;
	background: rgba(#ff6f6f, 0.9);
	z-index: 9999;
	color: #0b2548;
	&__title {
		font-size: get-vw(16px);
		color: #fff;
		font-weight: 400;
	}
	&__link {
		margin-top: get-vw(8px);
		a {
			text-decoration: underline;
			font-weight: 300;
			color: #fff;
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}