@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	line-height:1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == avatar {
		$char: "\E002";
	}
	@if $filename == black-male-user-symbol {
		$char: "\E003";
	}
	@if $filename == chat {
		$char: "\E004";
	}
	@if $filename == check-mark {
		$char: "\E005";
	}
	@if $filename == circle {
		$char: "\E006";
	}
	@if $filename == computer {
		$char: "\E007";
	}
	@if $filename == configuration-cogwheel-interface-symbol {
		$char: "\E008";
	}
	@if $filename == csv {
		$char: "\E009";
	}
	@if $filename == delete-cross {
		$char: "\E00A";
	}
	@if $filename == down-arrow-on-horizontal-line {
		$char: "\E00B";
	}
	@if $filename == down-filled-triangular-arrow {
		$char: "\E00C";
	}
	@if $filename == eye {
		$char: "\E00D";
	}
	@if $filename == file {
		$char: "\E00E";
	}
	@if $filename == info-button {
		$char: "\E00F";
	}
	@if $filename == internet-grid {
		$char: "\E010";
	}
	@if $filename == ipad {
		$char: "\E011";
	}
	@if $filename == iphone {
		$char: "\E012";
	}
	@if $filename == link-button {
		$char: "\E013";
	}
	@if $filename == list {
		$char: "\E014";
	}
	@if $filename == menu-button-of-three-horizontal-lines {
		$char: "\E015";
	}
	@if $filename == oval {
		$char: "\E016";
	}
	@if $filename == part_logo {
		$char: "\E017";
	}
	@if $filename == pen {
		$char: "\E018";
	}
	@if $filename == photograph {
		$char: "\E019";
	}
	@if $filename == right_arrow {
		$char: "\E01A";
	}
	@if $filename == search-symbol-of-a-magnifier-with-a-letter-inside {
		$char: "\E01B";
	}
	@if $filename == shopping-basket {
		$char: "\E01C";
	}
	@if $filename == sitemap {
		$char: "\E01D";
	}
	@if $filename == speech-message {
		$char: "\E01E";
	}
	@if $filename == square-outline {
		$char: "\E01F";
	}
	@if $filename == time {
		$char: "\E020";
	}
	@if $filename == trash-bin {
		$char: "\E021";
	}
	@if $filename == triangular-filled-up-arrow {
		$char: "\E022";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}