include ../../../_mixins
	
+if("isset($menu)")
	ul.sidebarMenu__list
		+if("count($menu->data)>0")
			+foreach("$menu->hierarchy[$level][$parentId] as $elementId")
				li
					@php $url = \App\Helpers\Url::getCategoryUrl($menu->data[$elementId]->id,\App::getLocale()); @endphp
					- var act = "{{$url == '\'.Request::path() ? 'active' : ''}}";
					a(class!=act, href!="{{$url}}") {{$menu->data[$elementId]->language[0]->name}}
	
				+if("array_key_exists($level+1,$menu->hierarchy) && array_key_exists($elementId,$menu->hierarchy[$level+1])")
					@include('front.modules.offer.list',['level'=>$level+1,'parentId'=>$elementId,'menu'=>$menu])
