include ../_mixins
+extends('layouts.app')

+section('content')
	// | {!!\App\Models\Slider::renderOnFront()!!} 
	.slider.js-slider.owl-carousel
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
		.slider__item(style="background-image:url(images/slide1.png)")					
			.slider__inner
	.boxes
		.boxes__item
			.boxes__bg(style="background-image:url(/images/box1.jpg)")
			.mainBox
				.mainBox__topLine
					.mainBox__text
						.mainBox__title.mainBox__title--bigger Zdjęcia
						.mainBox__title stomatologiczne
					.mainBox__icon
						.circleIcon.circleIcon--iconRentgen
				.mainBox__desc Zdjęcia zębowe są najczęściej wykonywanymi zdjęciami rentgenowskimi u człowieka, ich rola w praktyce stomatologicznej jest ogromna.
			a.boxes__link(href="#")
	
		.boxes__item
			.boxes__bg(style="background-image:url(/images/box2.jpg)")
			.mainBox
				.mainBox__topLine
					.mainBox__text
						.mainBox__title.mainBox__title--bigger Badania
						.mainBox__title 3D - trójwymiarowe
					.mainBox__icon
						.circleIcon.circleIcon--iconTooth.circleIcon--blue
				.mainBox__desc Oferujemy możliwość wykonania trójwymiarowego badania zębów i kości szczęk, tak zwanej tomografii stożkowej (wolumetrycznej) ConeBeam Computed Tomography (CBCT).
			a.boxes__link(href="#")
	
		.boxes__item
			.boxes__bg(style="background-image:url(/images/box3.jpg)")
			.mainBox
				.mainBox__topLine
					.mainBox__text
						.mainBox__title.mainBox__title--bigger Zdjęcia
						.mainBox__title kostne
					.mainBox__icon
						.circleIcon.circleIcon--iconBone.circleIcon--white
				.mainBox__desc Zdjęcia wykonywane są doskonałym aparatem firmy Toshiba przy zachowaniu wszystkich przepisów ochrony radiologicznej pacjenta, ze szczególnym uwzględnieni.
			a.boxes__link(href="#")
			
	.aboutBlock
		.aboutBlock__inner
			.aboutBlock__left
				.aboutBlock__title Uni-Rentgen
				.aboutBlock__title.aboutBlock__title--lighter PRYWATNA PRZYCHODNIA
				.aboutBlock__title.aboutBlock__title--smaller DIAGNOSTYKI MEDYCZNEJ
				.aboutBlock__text
					p Oferujemy szeroki zakres usług w zakresie diagnostyki radiologicznej nie tylko zębów, ale całego ciała.
					p Podstawowym i najważniejszym celem personelu Przychodni w ramach działalności jest uzyskiwanie satysfakcji pacjenta! 
				.aboutBlock__button
					a(href="#").button
						span o firmie
			.aboutBlock__right
				.aboutBlock__boxes
					.aboutBox
						.aboutBox__left
							.iconBorder.iconBorder--big.iconBorder--time
						.aboutBox__right
							.aboutBox__text Czas oczekiwania na zdjęcie wynosi 
							.aboutBox__title.aboutBox__title--big ok. 10 minut
					.aboutBox
						.aboutBox__left
							.iconBorder.iconBorder--big.iconBorder--doctor
						.aboutBox__right
							.aboutBox__text Na zdjęcia rentgenowskie poza zdjęciami zębowymi wymagane jest
							.aboutBox__title skierowanie od lekarza
					.aboutBox
						.aboutBox__left
							.iconBorder.iconBorder--big.iconBorder--med
						.aboutBox__right
							.aboutBox__text Nad wysoką jakością wykonywanych badań czuwają lekarze 
							.aboutBox__title specjaliści radiolodzy
					.aboutBox
						.aboutBox__left
							.iconBorder.iconBorder--big.iconBorder--dentist
						.aboutBox__right
							.aboutBox__text Wszystkie badania w naszej przychodni wykonywane są
							.aboutBox__title bez zapisów
