include ../../../_mixins
.oneNews
	.oneNews__title
		.oneNews__tit {{$post->language[0]->title}}
		.oneNews__dots
			.oneNews__dot
			.oneNews__dot
			.oneNews__dot
	.oneNews__text {{$post->language[0]->content}}
	.oneNews__bottom
		.oneNews__left
			.oneNews__date {{$post->publish_date!="" ? $post->publish_date->format("d.m.Y") : $post->created_at->format("d.m.Y")}}
		.oneNews__right
			.oneNews__link
				a(href!="{{$url}}").button.button--noicon.button--smaller
					span WIĘCEJ
