@if(isset($photos) && count($photos)>0)

	@if($info && count($info->language)>0 && $info->language[0]->title!="")
		{{$info->language[0]->title}}
	@endif

	@if($info && count($info->language)>0 && $info->language[0]->description!="")
		{{$info->language[0]->description}}
	@endif

	@foreach($photos as $photo)
		| @php $photoName = $photo->language && count($photo->language) > 0 && $photo->language[0]->title != NULL ? $photo->language[0]->filename . '_' : ''; @endphp

		| <img src="/img/gallery_photo/{{$photo->dirname}}/{{$photoName}}thumbnail.{{$photo->ext}}"  data-large="/img/gallery_photo/{{$photo->dirname}}/{{$photoName}}normal.{{$photo->ext}}" @if($photo->language && count($photo->language)>0) alt="{{$photo->language[0]->title}}" @endif data-description="@if($photo->language && count($photo->language)>0){{$photo->language[0]->title}}@endif">
	@endforeach

@endif