include ../../../_mixins

- var href = "/img/gallery_photo/{{$photo->dirname}}/{{$photoName}}normal.{{$photo->ext}}";
- var title = '@if($photo->language && count($photo->language)>0 && $photo->language[0]->title!=""){{$photo->language[0]->title}} @endif'
- var src = '/img/gallery_photo/{{$photo->dirname}}/{{$photoName}}thumbnail.{{$photo->ext}}';
	
+if("isset($photos) && count($photos)>0")
	.module
		+if('$info && count($info->language)>0 && $info->language[0]->title!=""')
			.module__title {{$info->language[0]->title}}
		+if('$info && count($info->language)>0 && $info->language[0]->description!=""')
			.module__description {{$info->language[0]->description}}
		
		.galleryList.js-gallery
			+foreach("$photos as $photo")
				@php $photoName = $photo->language && count($photo->language)>0 && $photo->language[0]->title!=NULL ? $photo->language[0]->filename.'_' : ''; @endphp
				a(href!=href, title!=title).galleryList__item
					.galleryItem(style!="background-image:url("+ src +")")
						.galleryItem__desc!= title