include ../../../_mixins
	
- var width = "{{$settings['video_playlist_width']}}";
- var height = "{{$settings['video_playlist_height']}}";
- var src = "{{\\App\\Helpers\\Youtube::embed($videos[0]->url)}}";
	
- var srcOne = "{{\\App\\Helpers\\Youtube::embed($video->url)}}";
- var thumb = "{{$video->thumbnail}}";
	
.module
	+if("isset($videos) && count($videos)>0")
		+if('$info && count($info->language)>0 && $info->language[0]->title!=""')
			.module__title {{$info->language[0]->title}}
		+if('$info && count($info->language)>0 && $info->language[0]->description!=""')
			.module__description {{$info->language[0]->description}}
		.videoSlider
			.videoSlider__left
				.inner
					iframe(data-youtube-gallerypreview, width!=width, height!=height, src!=src, frameborder="0", allowfullscreen, data-target)
			.videoSlider__right
				.videoSlide.js-videoSlider
					+foreach("$videos as $key => $video")
						.videoSlide__item(data-videourl!=srcOne)
							.videoPreview
								.videoPreview__image(style!="background-image:url("+ thumb +")")
								.videoPreview__text
									+if("count($video->language)>0")
										.videoPreview__desc {{$video->language[0]->title}}
