include ../../../_mixins
	
- var href = "{{$url}}";
- var title = '{{$gallery->photo_title!="" ? $gallery->photo_title : $gallery->title}}'
- var src = '/img/gallery_photo/{{$gallery->photo_id}}/thumbnail.{{$gallery->photo_ext}}';
	
+if("isset($info->language) && count($info->language)>0")
	.module
		+if('$info->language[0]->title!=""')
			.module__title {{$info->language[0]->title}}
		
		+if('$info->language[0]->description!=""')
			.module__description {{$info->language[0]->description}}
	
		.galleryList
			+foreach("$galleries as $gallery")
				@php $url = \App\Helpers\Url::getPageUrl($gallery->entity_id,\App::getLocale()); @endphp
				
				a(href!=href).galleryList__item
					.galleryItem(style!="background-image:url(" + src + ")")
						.galleryItem__desc!= title