include ../../../_mixins
+if("strpos(\Request::path(),'showpreview')!==false")
	.previewBlockFront
		.previewBlockFront__title {!!trans('front.preview_info')!!} {{trans('front.preview_info_'.$type)}} 
		.previewBlockFront__link
			a(href='javascript:window.top.close();') {{trans('front.back_to_panel')}}