include ../../../_mixins
+extends('layouts.app')
+section('script')
	script.
		var startDateTime = new Date();
		function beforeSubmit(){
		var clickDateTime = new Date();
		return parseInt((clickDateTime - startDateTime) / 1000) > 5;
		}

+section('content')
	.innerBg.innerBg--contact
	@include('front.partial.breadcrumbs')
	.mainTitle {{$page->language[0]->title}}

	.contactPlaces
		.contactPlaces__inner
			.contactPlace
				.contactPlace__title {{$settings['contact_name']}} ul.{{$settings['contact_street']}}
				.contactPlace__infoLine
					.contactPlace__place
						.contactPlace__info.contactPlace__info--placeholder
							b Przychodnia
							div ul. {{$settings['contact_street']}} {{$settings['contact_homenr']}}@if($settings['contact_localnr']) lok. {{$settings['contact_localnr']}} @endif #[br] {{$settings['contact_postcode']}} {{$settings['contact_city']}}
					.contactPlace__infos
						.contactPlace__info.contactPlace__info--phone
							div tel: 
								a(href="tel:{{$settings['contact_phone']}}") {{$settings['contact_phone']}}
							br
						.contactPlace__info.contactPlace__info--email
							div e-mail: 
								a(href="mailto:{{$settings['contact_email']}}") {{$settings['contact_email']}}
				.contactPlace__map
					.inner
						+if("$settings['map_link']")
							{!!$settings['map_link']!!}

			.contactPlace
				.contactPlace__title UNI-RENTGEN UL.SOLARZA
				.contactPlace__infoLine
					.contactPlace__place
						.contactPlace__info.contactPlace__info--placeholder
							b Przychodnia
							div ul. Solarza 1 #[br] 20-815 Lublin
					.contactPlace__infos
						.contactPlace__info.contactPlace__info--phone
							div tel: 
								a(href="tel:{{$settings['contact_phone']}}") {{$settings['contact_phone']}}
							br
						.contactPlace__info.contactPlace__info--email
							div e-mail: 
								a(href="mailto:{{$settings['contact_email']}}") {{$settings['contact_email']}}		
				.contactPlace__map
					.inner
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4993.2501381327365!2d22.539053540247348!3d51.2628122896715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472259e489d86a33%3A0x6c297b25771d7dcd!2sIgnacego+Solarza+1%2C+20-400+Lublin!5e0!3m2!1sru!2spl!4v1524480718501', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
						
	.contactForm
		.contactForm__inner
			.mainTitle.mainTitle--smaller Formularz kontaktowy
			+if("isset($MessageBox)")
				@include('admin.components.messagebox',['messagebox'=>$MessageBox])
			@include('front.partial.form.error_list')
			.contactForm__form
				form#contactForm.styledForm.styledForm--twocols(action!="{{route('contact'),false,false}}", method='post')
					.styledForm__row
						.styledForm__left
							input.styledFormItems.styledFormItems--input(type='text', name='name', required, value="{{old('name')}}", placeholder="{{trans('front.contact.name')}}")
						.styledForm__right
							input.styledFormItems.styledFormItems--input(type='text', name='name2', required, value="{{old('name2')}}", placeholder="{{trans('front.contact.name2')}}")
					.styledForm__row
						.styledForm__left
							input.styledFormItems.styledFormItems--input(type='email', name='email', required, value="{{old('email')}}", placeholder="{{trans('front.contact.email')}}")
						.styledForm__right
							input.styledFormItems.styledFormItems--input(type='tel', name='phone', required, value="{{old('phone')}}", placeholder="{{trans('front.contact.phone')}}")
					.styledForm__row
						textarea.styledFormItems.styledFormItems--textarea(name='message', required, placeholder="{{trans('front.contact.message')}}") {{old('message')}}
					.styledForm__row.styledForm__row--button
						input(type='hidden', name='_token', value!='{{csrf_token()}}')
						button.button.button--noicon.button--smaller(type='submit')
							span {{trans('front.contact.send')}}
