include ../../../_mixins
+extends('layouts.app')
+section('content')
	.innerBg
	@include('front.partial.breadcrumbs')
	.mainTitle {{$page->language[0]->title}}
		
	.mainContainer
		+if("count($menu['elements'] -> data) > 0")
			.mainContainer__sidebar
				.sidebarMenu
					.sidebarMenu__title {{trans('front.cat')}}
					+if("isset($menu) && count($menu['elements']->data)>0")
						@include('front.page.partial.submenu',['elements'=>$menu['elements'], 'level'=>1, 'parentId' => $menu['parent_page_id']])
		
		.mainContainer__text
			{!!$page->language[0]->content!!}
			@include('front.page.partial.module',['modules'=>$page->module])
		
			+if("isset($modules)")
				@include('front.page.partial.module',['modules'=>$modules])
	
	@include('front.partial.preview.info')

