include ../../../_mixins
+php
	$moduleId = \App\Models\Module::where('symbol','=','offer')->pluck('id')->first();
	$category = new \App\Models\Category();
	$categories = $category->getListForModule($moduleId);

+extends('layouts.app')
+section('content')
	.innerBg
	@include('front.partial.breadcrumbs')
	.mainTitle {{$page->language[0]->title}}
		
	.mainContainer
		.mainContainer__sidebar
			.sidebarMenu
				.sidebarMenu__title {{trans('front.cat')}}
				@include('front.modules.offer.list',['menu'=>$menu2,'level'=>0,'parentId'=>0])

		.mainContainer__text
			.offerList
				+foreach("$categories as $category")
					.offerList__item.oneOffer
						.oneOffer__image
							.inner
								img(src!="/img/category/{{$category->id}}/thumbnail.{{$category->thumbnail}}")
						.oneOffer__text
							.oneOffer__title {{$category->language[0]->name}}
							.oneOffer__button
								a(href!="/{{trim(Request::path(),'/')}}/{{$category->language[0]->url}}").button
									span SPRAWDŹ
