$fontFamily:'Open Sans', sans-serif;

$medium: 1240px;
$small: 1024px;
$xsmall: 800px;
$bmob: 600px;
$mob: 480px;

$cBlue: #004490;
$clBlue: #00abfb;
$csemiBlue: #2769b3;
$cBlueText:#74aff1;
$cWhite: #fff;
$clPurple: #8165c8;

$cookies-bg: $cBlue;
$cookies-color: #fff;
$cookies-linkColor: $clBlue;
$cookies-closeHover: #fff;

$breadHomeColor: #9eb2be;
$breadLinkColor: #9eb2be;
$breadLinkColorHover: #004490;
$breadTextColor: #9eb2be;
$breadDelimiterColor: $clBlue;

$contentFontSize: 18px;
$contentLinkColor: $clBlue;
$contentLiColor: $clBlue;
$contentColor: $cBlue;

$module_title: $cBlue;
$module_description: $cBlue;
$module_empty: $cBlue;

$mobileBg: #fff;
$mobileLink: $cBlue;
$mobileBorder: #ccc;
$mobileActive: $clBlue;
$mobileClose: $clBlue;
$mobileBackIcon: $clBlue;
$mobileOpenButton: $clBlue;
$mobileOpenButtonColor: #fff;
