@mixin HVcenter($w, $h) {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: $w;
	max-height: $h;
	margin: auto;
}
@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin css-triangle(
	$triangle-size,
	$triangle-color,
	$triangle-direction
) {
	display: block;
	width: 0;
	height: 0;

	border: inset $triangle-size;

	content: '';

	@if ($triangle-direction == down) {
		border-bottom-width: 0;
		border-top-style: solid;
		border-color: $triangle-color transparent transparent;
	}
	@if ($triangle-direction == up) {
		border-top-width: 0;
		border-bottom-style: solid;
		border-color: transparent transparent $triangle-color;
	}
	@if ($triangle-direction == right) {
		border-right-width: 0;
		border-left-style: solid;
		border-color: transparent transparent transparent $triangle-color;
	}
	@if ($triangle-direction == left) {
		border-left-width: 0;
		border-right-style: solid;
		border-color: transparent $triangle-color transparent transparent;
	}
}

@function get-vw($target) {
	$vw-context: (1920*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

@mixin heightLines($size,$lineHeight,$lines,$height:false,$rem:false) {

	line-height: $lineHeight;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;

	// Solution for Opera
	text-overflow: -o-ellipsis-lastline;
	@if $height == false and $rem == false {
		max-height: $size*$lineHeight*$lines;
	}
	@else if $height == true and $rem == false{
		height: $size*$lineHeight*$lines;
	}
	@else if $height == false and $rem == true{
		max-height: get-vw($size*$lineHeight*$lines);
		@media screen and (max-width: 1000px){
			max-height:$size*0.69*$lineHeight*$lines;
		}
	}
	@else if $height == true and $rem == true{
		height: get-vw($size*$lineHeight*$lines);
		@media screen and (max-width: 1000px){
			height:$size*0.69*$lineHeight*$lines;
		}
	}

	@if $rem == false {
		font-size: $size;
	} @else{
		font-size: get-vw($size);
		@media screen and (max-width: 1000px){
			font-size: $size*0.69;
		}
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

	font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

	@media screen and (max-width: $lower-range) {
		font-size: $min-font-size;
	}
	@media screen and (min-width: $upper-range) {
		font-size: $max-font-size;
	}
}