include ../../../_mixins
+if("count($news) > 0")
	.newsList
		.newsList__list
			+for("$i=0; $i<(count($news) > 3 ? 3 : count($news)); $i++")
				+php $url = \App\Helpers\Url::getFrontPostUrl($news[$i]->id);
				.oneNews
					.oneNews__title
						.oneNews__tit {{$news[$i]->getTitle()}}
						.oneNews__dots
							.oneNews__dot
							.oneNews__dot
							.oneNews__dot
					.oneNews__text {{$news[$i]->language[0]->content}}
					.oneNews__bottom
						.oneNews__left
							.oneNews__date {{$news[$i]->publish_date!="" ? $news[$i]->publish_date->format('d.m.Y') : $news[$i]->created_at->format('d.m.Y')}}
						.oneNews__right
							.oneNews__link
								a(href!="{{$url}}").button.button--wider WIĘCEJ

				+if('$news[$i]->getImage()!=""')
					a(href!="{{$url}}")
					img(src!="/img/post/{{$news[$i]->id}}/thumbnail.{{$news[$i]->thumbnail}}", width="200", alt!="{{$news[$i]->getTitle()}}")
				a(href!="{{$url}}") {{$news[$i]->getTitle()}}