include ../../../_mixins
.oneNews
	.oneNews__title
		.oneNews__tit {{title}}
		.oneNews__dots
			.oneNews__dot
			.oneNews__dot
			.oneNews__dot
	.oneNews__text {{content}}
	.oneNews__bottom
		.oneNews__left
			.oneNews__date {{date}}{{year}}
		.oneNews__right
			.oneNews__link
				a(href!="{{link}}").button.button--noicon.button--smaller
					span WIĘCEJ
