include ../../../../_mixins
@extends('layouts.app')

+section('content')
	.innerBg
	@include('front.partial.breadcrumbs')
	h1.mainTitle {{$category->language[0]->name}}
	
	+if("count($category->subcategory) > 0")
		+foreach("$category->subcategory as $subcategory")
			a(href!="/{{trim(\Request::path(),'/')}}/{{$subcategory->language[0]->url}}") {{$subcategory->language[0]->name}}

	+if("count($category->post)>0")
		+foreach("$category->post as $post")
			a(href!="/{{trim(\Request::path(),'/')}}/{{$post->language[0]->url}}") {{$post->language[0]->title}}
			
	@include('front.page.partial.module',['modules'=>$category->modules])
