include ../_mixins
doctype html
html(lang='{{\\App::getLocale()}}', dir="ltr")
	head
		include partials/_head
	body
		include partials/_facebook
		include partials/_header
		+yield('content')
		include partials/_footer
		include partials/_scripts
