include ../../../_mixins
.module
	+if("count($category->post) == 0")
		.module__empty {{trans('front.list.empty')}}
		+else
		.newsList(data-category-page='1', data-category-id!='{{$category->id}}')
			.newsList__list(data-category-container='')
				+foreach("$posts as $key=>$post")
					+php $url = \App\Helpers\Url::getFrontPostUrl($post->id,\App::getLocale());
					@include('front.category.partials.one_news')
			.newsList__button
				.hidden.button.button--noicon.button--smaller(class!='@if(count($posts)<=$category->per_page) @endif', data-category-loadpage='')
					span {{trans('front.category.show_next')}}
