@font-face {
	font-family: "myfont";
	src: url('.././public/fonts/myfont.eot');
	src: url('.././public/fonts/myfont.eot?#iefix') format('eot'),
		url('.././public/fonts/myfont.woff2') format('woff2'),
		url('.././public/fonts/myfont.woff') format('woff'),
		url('.././public/fonts/myfont.ttf') format('truetype'),
		url('.././public/fonts/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	line-height:1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-pointing-to-right {
		$char: "\E001";
	}
	@if $filename == breadArrow {
		$char: "\E002";
	}
	@if $filename == calendar {
		$char: "\E003";
	}
	@if $filename == chronometer {
		$char: "\E004";
	}
	@if $filename == clock {
		$char: "\E005";
	}
	@if $filename == closecookies {
		$char: "\E006";
	}
	@if $filename == closep {
		$char: "\E007";
	}
	@if $filename == dentist {
		$char: "\E008";
	}
	@if $filename == doc {
		$char: "\E009";
	}
	@if $filename == doctor {
		$char: "\E00A";
	}
	@if $filename == facebook {
		$char: "\E00B";
	}
	@if $filename == home {
		$char: "\E00C";
	}
	@if $filename == kneecap {
		$char: "\E00D";
	}
	@if $filename == left-arrow {
		$char: "\E00E";
	}
	@if $filename == magnifying-glass {
		$char: "\E00F";
	}
	@if $filename == medical-history {
		$char: "\E010";
	}
	@if $filename == menu2 {
		$char: "\E011";
	}
	@if $filename == message {
		$char: "\E012";
	}
	@if $filename == pdf {
		$char: "\E013";
	}
	@if $filename == peoples {
		$char: "\E014";
	}
	@if $filename == phone-call {
		$char: "\E015";
	}
	@if $filename == placeholder {
		$char: "\E016";
	}
	@if $filename == right-arrow {
		$char: "\E017";
	}
	@if $filename == send {
		$char: "\E018";
	}
	@if $filename == tooth {
		$char: "\E019";
	}
	@if $filename == up-arrow {
		$char: "\E01A";
	}
	@if $filename == x-ray {
		$char: "\E01B";
	}
	@if $filename == zip {
		$char: "\E01C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}